#chat-selector-to-send-files {
    padding: var(--padding-less) 16px;
    display: inline-flex;
    gap: var(--gap-less);
    .user {
        height: calc(3.5 * var(--text-size));
    }
    .chat-selector-to-send-image-group {
        display: flex; 
        flex-direction: row; 
        gap: var(--gap); 
        height: fit-content; 
        align-items: center;
    }
    .plus-some {
        background-color: var(--primary);
        color: var(--text-color);
    }
  }