.user-image {
    width: var(--height-input);
    height: var(--height-input);
    margin-right: 1rem;
    position: relative;
}

.user-image .image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
    background-color: var(--secondary);
}

.user-image .indicator {
    position: absolute;
    bottom: 0;
    left: calc(100% - 1rem);
}