.user-image {
    width: fit-content;
    height: var(--height-input);
    position: relative;
}

.user-image .image {
    width: var(--height-input);
    height: var(--height-input);
    border-radius: 50%;
    background-size: cover;
    background-color: var(--secondary);
}

.user-image .indicator {
    position: absolute;
    bottom: 0;
    left: calc(100% - 1rem);
}