.channel-group {
    margin-bottom: var(--gap);

    .channel-group-header {
        color: var(--text-color-muted);
        font-size: var(--text-size-less);
        margin-bottom: var(--gap);
        display: inline-flex;
        width: 100%;
        cursor: pointer;

        .controls {
            flex: 1;
            justify-content: flex-end;
            display: inline-flex;
            svg {
                stroke: var(--text-color-muted);
                fill: transparent;
                margin-left: var(--gap);
                cursor: pointer;
            }
        }
    }
    .channel-group-body {
        display: inline-flex;
        flex-direction: column;
        gap: var(--gap);
        width: 100%;
        padding-left: var(--gap);
    }
}