::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    opacity: 0;
}

#chats .context-wrap,
#chats .context-wrap > div:first-of-type {
    width: 100%;
}

#chats {
    flex: 1;
    display: inline-flex;
    flex-direction: column;
    gap: var(--gap);
    padding: var(--gap-less);
    overflow-y: scroll;
    label {
        margin-left: var(--gap);
    }
    /* overflow scroll adds padding that disrupt the grab handle resizer.
	   this keeps functionality but hides scroller.
	*/
	::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}


#compose {
    flex: 1;
    min-width: 0;
    min-height: 0;
    display: inline-flex;
    flex-direction: column;
}

#compose #messages {
    flex: 1;
    width: 100%;
    min-height: 0;
    overflow-y: scroll;
    gap: var(--gap);
    padding: var(--padding-less);
    display: inline-flex;
    flex-direction: column-reverse;

    .message-group-wrap {
        .user-image-wrap {
            align-self: flex-end;
        }
    }

    .message-group {
        .context-wrap {
            justify-content: flex-end;
        }
        &.remote {
            .context-wrap {
                justify-content: flex-start;
            }
        }
    }
}



#compose .topbar .children .username {
    color: var(--text-color);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1; 
    -webkit-box-orient: vertical;
}

#compose .topbar .children .status {
    color: var(--text-color-muted);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1; 
    -webkit-box-orient: vertical;
}

#favorites {
    display: inline-flex;
    flex-direction: column;
    align-content: flex-start;
    gap: var(--gap);
    padding: 0 var(--gap);
}

.user-info {
    height: 100%;
    flex: 1;
    display: inline-flex;
    flex-direction: column;
}

.skeletal-steady {
    & div:nth-child(1) {
        opacity: 1;
    }

    & div:nth-child(2) {
        opacity: 0.5;
    }

    & div:nth-child(3) {
        opacity: 0.35;
    }
    .skeletal {
        animation: none;
    }
}
.tooltip-arrow-top-right {
    margin-right: 50px;
}
#compose {
    .typing-indicator {
        width: 100%;
        user-select: none;
        display: flex;
        align-items: center;
        color: var(--theme-text-bright);
        .loader {
            width: 4px;
            height: 4px;
            border-radius: 50%;
            margin-right: 32px;
            position: relative;
            flex-shrink: 0;
            animation: typing 1s linear infinite alternate;
        }
        .primary {
            height: 20px;
            padding-right: 4px;
            font-weight: bold;
            word-break: break-all;
            overflow: hidden;
            box-sizing: border-box;
            text-transform: capitalize;
        }
        .secondary {
            height: 20px;
            flex-shrink: 0;
            word-wrap: nowrap;
        }
    }
    
    @keyframes typing {
        0% {
            background: rgba(255, 255, 255, 1);
            box-shadow: 10px 0px 0px 0px rgba(255, 255, 255, 0.2),
            20px 0px 0px 0px rgba(255, 255, 255, 0.2);
        }
        50% {
            background: rgba(255, 255, 255, 0.4);
            box-shadow: 10px 0px 0px 0px rgba(255, 255, 255, 2),
            20px 0px 0px 0px rgba(255, 255, 255, 0.2);
        }
        100% {
            background: rgba(255, 255, 255, 0.4);
            box-shadow: 10px 0px 0px 0px rgba(255, 255, 255, 0.2),
            20px 0px 0px 0px rgba(255, 255, 255, 1);
        }
    }
}

  