#chats .context-wrap,
#chats .context-wrap > div:first-of-type {
    width: 100%;
}

#chats {
    flex: 1;
    display: inline-flex;
    flex-direction: column;
    gap: var(--gap);
    padding: var(--gap-less);
    overflow-y: scroll;

    label {
        margin-left: var(--gap);
    }
}

#compose {
    flex: 1;
    min-width: 0;
    min-height: 0;
    display: inline-flex;
    flex-direction: column;
}

#compose #messages {
    flex: 1;
    width: 100%;
    min-height: 0;
    overflow-y: scroll;
    gap: var(--gap);
    padding: var(--padding-less);
    display: inline-flex;
    flex-direction: column-reverse;

    .message-group-wrap {
        .user-image-wrap {
            align-self: flex-end;
        }
    }

    .message-group {
        .context-wrap {
            justify-content: flex-end;
        }
        &.remote {
            .context-wrap {
                justify-content: flex-start;
            }
        }
    }
}



#compose .topbar .children .username {
    color: var(--text-color);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1; 
    -webkit-box-orient: vertical;
}

#compose .topbar .children .status {
    color: var(--text-color-muted);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1; 
    -webkit-box-orient: vertical;
}
#favorites {
    display: inline-flex;
    flex-direction: column;
    align-content: flex-start;
    gap: var(--gap);
    padding: 0 var(--gap);
}