.loader {
    height: 20px;
    width: 25px;
    position: relative;
    overflow: hidden;

    .spin {
        height: 20px;
        width: 20px;
        animation: spin 1s infinite ease-out;
        top: 10px;
        left: 10px;
        position: relative;
        display: inline-block;
    }

    svg {
        fill: transparent;
        stroke: var(--text-color);
    }

    &.large {
      width: 60px;
      height: 60px;

      .spin {
        width: 60px;
        height: 60px;
        top: 30px;
        left: 30px;
      }

      svg {
        height: 60px;
        width: 60px;
        stroke-width: 0.02rem;
      }
    }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

