
div.input-checkbox {
    border: 1px solid white; //var(--border-color);
    border-radius: 0.2em;
    color: var(--text-color);

    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}