.sidebar {
	display: inline-flex;
	flex-direction: column;
	max-width: var(--sidebar-width);
	height: 100%;
	border-right: 1px solid var(--border-color);
	.search {
		padding: var(--gap);
		border-bottom: 1px solid transparent;
	}
	.children {
		flex: 1;
		min-height: 0;
		display: inline-flex;
		flex-direction: column;
		gap: var(--gap);
		padding: 0 var(--padding-less);
		overflow-y: scroll;
	}
}
