[workspace]
members = [
    "kit",
    "ui",
    "icons",
    "common",
    "extensions",
    "native_extensions/emoji_selector",
]

[profile.rapid]
inherits = "dev"
opt-level = 2
incremental = true
overflow-checks = false
lto = "thin"
panic = "unwind"
codegen-units = 32

[profile.release.build-override]
opt-level = 3
codegen-units = 1

[workspace.package]
version = "0.1.0"

[workspace.dependencies]
dioxus = { git = "https://github.com/DioxusLabs/dioxus", rev = "d521da1991719760e271457dfe4f9ddf281afbb3" }
dioxus-hooks = { git = "https://github.com/DioxusLabs/dioxus", rev = "d521da1991719760e271457dfe4f9ddf281afbb3" }
dioxus-html = { git = "https://github.com/DioxusLabs/dioxus", rev = "d521da1991719760e271457dfe4f9ddf281afbb3" }
dioxus-router = { git = "https://github.com/DioxusLabs/dioxus", rev = "d521da1991719760e271457dfe4f9ddf281afbb3" }
dioxus-desktop = { git = "https://github.com/DioxusLabs/dioxus", rev = "d521da1991719760e271457dfe4f9ddf281afbb3", features = [
    "transparent",
] }
raw-window-handle = "0.5"
dioxus-core = { git = "https://github.com/DioxusLabs/dioxus", rev = "d521da1991719760e271457dfe4f9ddf281afbb3" }
fermi = { git = "https://github.com/DioxusLabs/dioxus", rev = "d521da1991719760e271457dfe4f9ddf281afbb3" }
tokio-util = { version = "0.7", features = ["full"] }
arboard = "3.2"
humansize = "2.1.3"
window-vibrancy = "0.3.2"
uuid = { version = "1", features = ["serde", "v4"] }
libloading = "0.7.4"
warp = { git = "https://github.com/Satellite-im/Warp", rev = "24971afdf1477c394e9137f2838da843de81e9af" }
warp-mp-ipfs = { git = "https://github.com/Satellite-im/Warp", rev = "24971afdf1477c394e9137f2838da843de81e9af" }
warp-rg-ipfs = { git = "https://github.com/Satellite-im/Warp", rev = "24971afdf1477c394e9137f2838da843de81e9af" }
warp-fs-ipfs = { git = "https://github.com/Satellite-im/Warp", rev = "24971afdf1477c394e9137f2838da843de81e9af" }
rfd = "0.10.0"
mime = "0.3.16"
serde = "1.0"
serde_json = "1.0"
chrono = "0.4"
either = "1"
base64 = "0.20.0"
timeago = "0.4.0"
dirs = "4.0.0"
regex = "1.6.1"
opener = "0.5.0"
open = "3.2.0"
wry = { version = "0.23.4" }
derive_more = "0.99"
colored = "2.0.0"
notify = "5.1.0"
rand = "0.8"
notify-rust = { version = "4.6.0", default-features = false, features = ["d"] }
titlecase = "2.2.1"

tempfile = "3.0.7"
fdlimit = "0.2"

once_cell = "1.17"

futures = "0.3"
tokio = { version = "1", features = ["full"] }
isolang = "2.2.0"
clap = { version = "4.1", features = ["derive"] }
fs_extra = "1.3"
walkdir = "2"

image = "0.24"

common = { path = "common" }
extensions = { path = "extensions" }
kit = { path = "kit" }
icons = { path = "icons" }
