.user {
	display: inline-flex;
	gap: var(--gap);
	position: relative;
	height: fit-content;
	width: 100%;
	transition: background-color var(--animation-time);

	&.active {
		background-color: var(--secondary-dark);
	}
		
	.info {
		overflow-wrap: anywhere;
	}
	.image {
		align-self: flex-start;
	}
	.user-image-wrap {
		justify-content: flex-start;
	}
	.username {
		color: var(--text-color);
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		line-clamp: 1;
		-webkit-box-orient: vertical;
	}
	.subtext {
		color: var(--text-color-muted);
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	.badge {
		position: absolute;
		top: 0;
		right: 0;
		border-radius: var(--border-radius-less);
		font-size: var(--text-size-less);
		color: var(--text-color-bright);
	}
	.badge-prefix {
		height: 100%;
		background-color: var(--secondary-dark);
		padding: var(--gap-less) var(--gap);
		border-bottom-left-radius: var(--border-radius-less);
		border-top-left-radius: var(--border-radius-less);
		color: var(--text-color-dark);
	}
	.badge-count {
		height: 100%;
		background-color: var(--primary);
		padding: var(--gap-less) var(--gap);
		border-bottom-right-radius: var(--border-radius-less);
		border-top-right-radius: var(--border-radius-less);
	}
}


.skeletal-user {
	display: inline-flex;
	gap: var(--gap);
	width: 100%;
	padding: var(--gap-less) var(--gap);
}