
.modal-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  min-height: 300px;
  display: flex;
  border: 1px solid black;
  justify-content: center; /* align item horizontally */
  align-items: center; /* align item vertically */
  // this was copied over from Popup from an old version of uplink. not sure how much is necessary
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: blur 0.2s;
  background: var(--theme-semi-transparent);

  .modal {
    width: 70%;
    height: 70%;
    background: var(--background);
    border: 1px solid var(--border-subtle-color);
    border-radius: 10px;
    opacity:1;
    cursor: default;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.model-body {
  flex: auto;
  padding: 25px;
}

.modal-head {
  margin: 3px;
  margin-left: auto;
}

.modal-content .modal-head .btn-wrap {
  height: var(--titlebar-height);
  width: var(--titlebar-height);
}
