.modal-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: blur 0.2s;
  background: var(--theme-semi-transparent);

  .modal {
    background: var(--theme-background-light);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;

    .controlls {
      align-self: flex-end;
    }

    .content {
      align-self: center;
    }
  }
}