.nav {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding: var(--padding);
    border-top: 1px solid var(--border-color);

    &.bubble {
        flex-direction: column;
        gap: var(--gap);
        border: none;
        padding: 0;

        .btn {
            width: 100%;
            justify-content: flex-start;
        }
    }
}
