.indicator {
  height: fit-content;
  width: fit-content;
  stroke: transparent;
  fill: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
}

.indicator-online {
  color: var(--success-light);
}

.indicator-offline {
  color: var(--secondary-light);
}

.indicator-do-not-distrub {
  color: var(--danger-light);
}

.indicator-idle {
  color: var(--warning-light);
}
