.upload-progress-bar-container-file-count {
  display: flex;
  height: 90px;
  width: 100%,;
  align-items: center;
  background: var(--background-dark);

  .upload-file-count {
    color: var(--text-color-muted);
    padding-left: 24px;
}
}

.upload-progress-bar-container {
    display: flex;
    padding-bottom: 8px;
    width: 100%,;
    flex-direction: column;
    background: var(--background-dark);

    .progress-percentage-description-container {
        padding-top: 12px;
        display: flex;

        .upload-progress-description {
            color: var(--text-color-muted);
            padding-left: 24px;
        }

        .upload-progress-percentage {
            color: var(--text-color-muted);
            padding-left: 16px;
        }

        .upload-progress-drop-files {
            color: var(--text-color-muted);
            padding-left: 8px;
        }
    }



    .progress-bar-button-container {
        display: inline-flex;
        justify-content: space-between;
        padding-right: 16px;

  
        .progress-bar-filename-container {
            width: 100%;
            margin-left: 24px;
            margin-right: 16px;

            .progress-bar {
                border-radius: 2px;
                border: 1px solid var(--text-textmed, #A8AABE);
                height: 20px;
                background-color: transparent;
                overflow: hidden;
                margin-top: 12px;
                width: 100%;
        
                .progress-percentage {
                    position: relative;
                    border-radius: 2px;
                    background-color: #A8AABE; /* Cor do preenchimento */
                    height: 19px;
                    width: 0%;
                }
            }
    
            .filaname-and-queue-container {
                display: flex;
                flex-wrap: wrap;

             .filename-and-file-queue-text {
                    display: inline-block;
                    max-width: 35vw;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding-left: 4px;
                    font-size: 12px;
                    margin-top: 4px;
                    color: var(--text-color-muted);
                }

                .file-queue-text {
                  flex: 1 0 auto;
                  word-wrap: break-word;
                  padding-left: 4px;
                  font-size: 12px;
                  margin-top: 4px;
                  color: var(--text-color-muted);
              }
            }
           
        }
        
        .cancel-button {
            margin-top: 8px;
        }
    } 
}
