.upload-progress-bar-container {
    display: flex;
    height: 90px;
    width: 100%,;
    flex-direction: column;
    background: var(--text-color-dark);

    .progress-percentage-description-container {
        padding-top: 12px;
        display: flex;

        .upload-progress-description {
            color: var(--text-color-muted);
            padding-left: 24px;
        }

        .upload-progress-percentage {
            color: var(--text-color-muted);
            padding-left: 16px;
        }

        .upload-progress-drop-files {
            color: var(--text-color-muted);
            padding-left: 16px;
        }
    }

    .upload-file-count {
        color: var(--text-color-muted);
        padding-top: 25px;
        padding-left: 24px;
    }

    .progress-bar-button-container {
        display: inline-flex;
        justify-content: space-between;
        padding-right: 16px;

  
        .progress-bar-filename-container {
            width: 100%;
            margin-left: 24px;
            margin-right: 16px;

            .progress-bar {
                border-radius: 2px;
                border: 1px solid var(--text-textmed, #A8AABE);
                height: 20px;
                background-color: transparent;
                overflow: hidden;
                margin-top: 12px;
                width: 100%;
        
                .progress-percentage {
                    position: relative;
                    border-radius: 2px;
                    background-color: #A8AABE; /* Cor do preenchimento */
                    height: 19px;
                    width: 0%;
                }
            }
    
            .filaname-and-queue-container {
                display: flex;

             .filename-and-file-queue-text {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: 12px;
                    margin-top: 4px;
                    color: var(--text-color-muted);
                }
            }
           
        }
        

        .cancel-button {
            margin-top: 8px;
        }
    } 
}

.dots-container {
    display: inline-block;
  }
  
  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    margin-right: 4px;
    opacity: 0;
    animation: fade-in 1s infinite;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    33.33% {
      opacity: 1;
    }
    66.66% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }