html, body {
    background-color: var(--background);
    height: 100%;
    margin: 0;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
    overflow: hidden;;
}
#main, #app-wrap {
    height: 100%;
    margin: 0;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
}

#pre-release {
    position: fixed;
    top: var(--gap-less);
    margin-left: 4rem; // TODO: only do this on mac
    left: var(--gap);
    background-color: var(--secondary-dark);
    border-radius: var(--border-radius-less);
    display: inline-flex;
    gap: var(--gap-less);
    align-content: center;
    justify-content: center;
    width: fit-content;
    padding: var(--gap-less);
    pointer-events: none;
    user-select: none;
    cursor: default;
    p {
        color: var(--warning-light);
        font-size: var(--text-size-less);    
    }
    svg {
        fill: transparent;
        stroke: var(--warning-light);
        height: var(--text-size-less);
        align-self: center;
        width: var(--text-size-less);
    }
}

#main {
    background-color: var(--background);
    position: relative;
    overflow: hidden;
    border: 1px solid var(--border-color);


    .sidebar {
        padding-top: 1.5rem;
    }
}

.search-input,
.search-input .input-group {
    width: 100%;
}

.vertically-scrollable {
    display: inline-flex;
    gap: var(--gap);
    width: 100%;
    overflow-x: scroll;
    height: fit-content;
    transition: background var(--animation-time);
}


/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    opacity: 1;

    &:hover {
        width: 10px;
    }
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border-radius: var(--border-radius);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}    
