.radio-list {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    gap: var(--gap);
    align-items: center;

    .btn, .btn-wrap {
        width: 100%;
        justify-content: flex-start;
    }

    .appearance-primary {
        svg {
            fill: var(--text-color-dark);
        }
    }
}