:root {
    --border-color: #000000;

    --text-color: #000000;
    --text-color-muted: #333333;
    --text-color-dark: #000000;
    --text-color-bright: #ffffff;
    --text-color-link: #666666;

    --placeholder: #ffffff;

    --primary: #000000;
    --primary-dark: #000000;
    --primary-light: #666666;

    --secondary: #000000;
    --secondary-light: #ffffff;
    --secondary-dark: #000000;

    --background: #ffffff;
    --background-light: var(--secondary-light);
    --background-dark: #aaaaaa;

    --success: #1dd1a1;
    --success-light: #00c29c;

    --warning: #f5af19;
    --warning-light: #feca57;

    --danger: #F93854;
    --danger-light: #fa4662;

    --animation-time: 0;
    
}