:root {
    --border-color: #fff;
    --border-subtle-color: #0f0f0f;
    --text-color: #f8f9fa;
    --text-color-muted: #dee2e6;
    --text-color-dark: #343a40;
    --text-color-bright: #ffffff;
    --text-color-link: #ff860d;
    --placeholder: #fff;
    --primary: #FCFBF4;
    --primary-dark: #eae8e1;
    --primary-light: #fefff7;
    --secondary: #343a40;
    --secondary-light: #adb5bd;
    --secondary-dark: #212529;
    --background: #000000;
    --background-light: var(--secondary-light);
    --background-dark: #000000;
    --success: #1dd1a1;
    --success-light: #00c29c;
    --warning: #f5af19;
    --warning-light: #feca57;
    --danger: #F93854;
    --danger-light: #fa4662;
}