:root {
    --border-color: #141414;

    --text-color: rgb(247, 247, 253);
    --text-color-muted: #acacd8;
    --text-color-dark: #7194b1;
    --text-color-bright: #dfdff7;

    --placeholder: #aaaac9;

    --primary: #4D4DFF;
    --primary-dark: #4343fa;
    --primary-light: #6868fa;

    --secondary: #1d1d21;
    --secondary-light: #8686a3;
    --secondary-dark: #151518;

    --background: #000000;
    --background-light: var(--secondary-light);
    --background-dark: #000000;

    --success: #1dd1a1;
    --success-light: #00c29c;

    --warning: #f5af19;
    --warning-light: #feca57;

    --danger: #F93854;
    --danger-light: #fa4662;
    
}