:root {
    --border-color: #ccc;
    
    --placeholder: #999;
    
    --text-color: #333;
    --text-color-muted: #999;
    --text-color-dark: #333;
    --text-color-bright: rgb(41, 40, 40);
    
    --primary: #66c;
    --primary-dark: #44a;
    --primary-light: #88e;
    
    --secondary: rgb(94, 94, 94);
    --secondary-light: #666;
    --secondary-dark: rgb(32, 24, 24);
    
    --background: rgb(235, 232, 232);
    --background-light: #eee;
    --background-dark: #ddd;
    
    --success: #0c0;
    --success-light: #0f0;
    
    --warning: #c60;
    --warning-light: #e90;
    
    --danger: #c00;
    --danger-light: #f00;
    }