:root {
    // --animation-time: 0.2s;
    // --opacity-modifier: 0.75;

    // --text-size: 1rem;
    // --text-size-less: 0.75rem;
    // --text-size-more: 1.25rem;

    // --gap: 0.65rem;
    // --gap-less: 0.25rem;
    // --files-grid-gap: 1.5rem;

    // --padding: 1.2rem;
    // --padding-more: 2rem;
    // --padding-less: 0.75rem;

    // --height-input: 38px;
    // --height-input-less: 28px;
    // --width-sidebar: 300px;

    // --icon-size-more: 50px;
    // --icon-label-size-vertical: 40px;
    // --icon-label-size-horizontal: 80px;

    // --width-sidebar: 300px;

    // --border-radius: 4px;
    // --border-radius-less: 2px;
    // --border-radius-more: 20px;

    --border-color: #eee;
    --border-subtle-color: #dbdbdb;
    
    --text-color: #000000;
    --text-color-muted: #333333;
    --text-color-dark: #000;
    --text-color-bright: #676767;
    --text-selection: #d9d9d9;
    // --text-color-link: #ff860d;
    --placeholder: var(--text-color-muted);
    // --primary: #FCFBF4;
    // --primary-dark: #eae8e1;
    // --primary-light: #fefff7;

    --primary: #95a5a6;
    --primary-light: color-mix(in srgb, var(--primary) 50%, #e8e1e1);
    --primary-light-less: color-mix(in srgb, var(--primary) 50%, #bab3b3);
    --primary-dark: color-mix(in srgb, var(--primary) 95%, black);

    --secondary: #e4edf6;
    --secondary-light: color-mix(in srgb, var(--secondary) 50%, #cccccc);
    --secondary-dark: color-mix(in srgb, var(--secondary) 95%, black);

    --background: white;
    --background-light:  color-mix(in srgb, var(--background) 50%, #bebebe);
    --background-dark:  color-mix(in srgb, var(--background) 85%, black);
    --success: #17b7ba;
    --success-light: #079a7c;
    --warning: #df9d10;
    --warning-light: #d67c22;
    // --danger: #F93854;
    // --danger-light: #fa4662;
}