.message-group-wrap {
	display: inline-flex;
	gap: var(--gap);
	position: relative;
	padding-bottom: var(--padding);
	padding-top: var(--padding);
    width: 100%;
    .message-group {
        display: inline-flex;
        width: 100%;
        flex-direction: column;
        gap: var(--gap);
        justify-content: flex-end;
        position: relative;
        margin-left: calc(var(--height-input) + var(--gap));
        &.remote {
            margin: 0;
            margin-right: calc(var(--height-input) + var(--gap));
            .sender {
                left: 0;
                right: unset;
            }
            .time-ago {
                left: 0;
                right: unset;
            }
        }
        .sender {
            position: absolute;
            right: 0;
            bottom: calc(100% + var(--gap-less));
            color: var(--text-color-muted);
            font-size: var(--text-size-less);
        }
        .pressable {
            cursor: pointer;
        }
    }
    .time-ago {
        position: absolute;
        right: 0;
        top: calc(100% + var(--gap-less));
        color: var(--text-color-muted);
        font-size: var(--text-size-less);
    }
    .user-image {
        align-self: flex-end;
    }
}

@media only screen and (max-width: 600px) {
    .message-group-wrap {
        .message-group, .message-group.remote {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.message-group-skeletal {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-end;
    padding: var(--gap);
    gap: var(--gap) var(--padding);
    padding-right: 40%;
    width: 100%;

    &.alt{
        transform: scaleX(-1);
    }

}
.skeletal-messages {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    gap: var(--gap-less);

    .skeletal-timestamp {
        width: 120px;
        align-self: flex-end;
        height: var(--text-size-less);
        background: #1d1d2179;
        border-radius: var(--border-radius-less);
    }
    .skeletal-message {
        background: #1d1d2179;
        border-radius: var(--border-radius-more);
        border-bottom-left-radius: var(--border-radius);
        min-height: var(--height-input);
        display: inline-flex;
        align-items: center;
        padding: var(--padding-less) var(--padding);
        width: 100%;
        align-self: flex-end;

        .skeletal-message-content {
            background-color: var(--secondary);
            height: var(--text-size);
            border-radius: var(--border-radius-less);
            width: 100%;
        }

        &:nth-child(2) {
            border-top-left-radius: var(--border-radius);
        }

        &:nth-child(3) {
            border-top-left-radius: var(--border-radius);
        }
    }
}