#chat-layout,
#settings-layout,
#files-layout,
#friends-layout {
    display: inline-flex;
    height: 100%;
    width: 100%;
    min-width: calc(var(--sidebar-width) * 2);
}

#files-layout,
#friends-layout {
    .friends-body, .files-body {
        display: inline-flex;
        flex-direction: column;
        width: 100%;

        .friends-controls {
            display: inline-flex;
            padding: var(--gap);
            gap: var(--gap);
            justify-content: flex-end;
            border-bottom: 1px solid var(--border-color);
        }
    }
}

#files-layout {
    .files-list {
        display: inline-flex;
        padding: var(--gap);
        gap: var(--gap);
        flex-wrap: wrap;
    }

    .files-info {
        color: var(--text-color);
        p {
            font-size: var(--text-size-less);
            span {
                margin-left: var(--gap);
                color: var(--text-color-muted);
            }
        }
    }

    .files-breadcrumbs {
        display: inline-flex;
        margin: var(--gap);
        width: fit-content;
        align-content: center;
        border-radius: var(--border-radius);
        overflow: hidden;
        border: 1px solid var(--border-color);
        .crumb {
            display: inline-flex;
            align-content: center;
            color: var(--text-color-muted);
            font-size: var(--text-size);
            padding: var(--gap-less) var(--gap);
            align-items: center;

            p {
                font-size: var(--text-size-less);
                &:after  { 
                    content:"\203A"; 
                    margin-left: var(--gap); 
                }
            }
            
            &:hover {
                background-color: var(--secondary-dark);
                cursor: pointer;
            }

            &:nth-child(1) {
                border-top-left-radius: var(--border-radius);
                border-bottom-left-radius: var(--border-radius);
                background: var(--secondary);
                color: var(--text-color-bright);
                p {
                    margin-left: var(--gap);
                }
                &:hover {
                    background-color: var(--secondary-light);
                    cursor: pointer;
                }
            }
            &:last-child {
                border-top-right-radius: var(--border-radius);
                border-bottom-right-radius: var(--border-radius);

                
                p {
                    &:after {
                        content: "";
                        margin: none;
                    }   
                }
            }
            svg {
                fill: transparent;
                stroke: var(--text-color);
            }
        }
    }
}