html, body {
    background-color: black;
    margin: 0;
}

.debug-logger {
    height: fit-content;
    max-width: 100%;
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow: hidden;
    overflow-x: hidden;

}

.initial-label {
    color: white;
    margin-left: 4px;
    font-size: 14px;
}

.log-text {
    font-size: 12px;
    margin: 4px;
}