.file-embed {
	display: inline-flex;
	gap: var(--gap);
	background: var(--primary);
	width: fit-content;
	color: var(--text-color);
	padding: var(--padding);
	border-radius: var(--border-radius-more);
	align-content: center;
	align-self: flex-end;
	.meta {
		font-size: var(--text-size-less);
	}
	.btn {
		background-color: var(--primary-dark);
	}
	.icon {
		svg {
			stroke: var(--text-color);
			fill: transparent;
			height: var(--height-input);
			width: var(--height-input);
		}
	}
}
.icon {
	display: inline-flex;
}
.meta {
	display: inline-flex;
}
.file-embed.remote {
	.meta {
		color: var(--placeholder);
	}
	align-self: flex-start;
	background: var(--secondary);
}
