.add-friend {
    width: 100%;
    display: inline-flex;
    gap: var(--gap);
    align-items: flex-start;
    padding: var(--padding-less);
    border-bottom: 1px solid var(--border-color);
    flex-direction: column;

    .body {
        display: inline-flex;
        gap: var(--gap);
        width: 100%;
    }
    .btn {
        align-self: flex-start;
    }

    .input-group {
        flex: 1;
    }
}