label {
    color: var(--text-color-dark) !important;
    font-size: var(--text-size-less);
    text-transform: uppercase;
    font-weight: lighter;
}

.wrap-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}