.message {
	background: var(--primary);
	color: var(--text-color-primary);
	border-radius: var(--border-radius-more);
	border-bottom-right-radius: var(--border-radius);
	min-height: var(--height-input);
	display: inline-flex;
	align-items: center;
	padding: var(--padding-less);
	width: fit-content;
	align-self: flex-end;
	overflow: hidden;
	overflow-wrap: anywhere;
	flex-direction: column;
	align-items: flex-end;
	white-space: pre-wrap;

	.context-wrap {
		align-self: flex-end;
	}

	.text {
		color: var(--text-color-primary);
		display: flex;
		flex-direction: column;
		white-space: pre-wrap;

		.big-emoji {
			font-size: var(--emoji-size);
		}
	}

	.pending-text {
		color: var(--text-color-muted);
		display: inline-flex;
		flex-direction: column;
	}

	.input {
		padding: 0 var(--padding-less);
		min-height: 0;
		background-color: var(--secondary-light);
		.cm-editor {
			min-height: 0;
			margin: 0;
			padding: 0;
		}
	}
}

.edit-message-wrap {
	display: inline-flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1001;
    top: 1.5rem;
    left: 0;
    bottom: 0;
    right: 0;
}

.edit-message {
	z-index: 1002;
}

.message.mention {
	background-color: var(--background-mention);
}

.message.message-pending {
	opacity: var(--opacity-modifier);
}

.message.message-loading {
	opacity: var(--opacity-modifier);
}

.message.message-first {
	border-radius: var(--border-radius-more);
	border-bottom-right-radius: var(--border-radius);
}

.message.message-last {
	border-radius: var(--border-radius-more);
	border-top-right-radius: var(--border-radius);
}

.message.message-middle {
	border-radius: var(--border-radius-more);
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

.message.remote {
	align-self: flex-start;
	align-items: flex-start;
	background: var(--secondary-darker);
	color: var(--text-color);
	border-radius: var(--border-radius-more);
	border-bottom-left-radius: var(--border-radius);

	.text {
		color: var(--text-color);
	}
}

.message.remote.message-first {
	border-radius: var(--border-radius-more);
	border-bottom-left-radius: var(--border-radius);
}

.message.remote.message-last {
	border-radius: var(--border-radius-more);
	border-top-left-radius: var(--border-radius);
}

.message.remote.message-middle {
	border-radius: var(--border-radius-more);
	border-top-left-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
}

.emoji-reaction {
	border: 1px solid var(--border-subtle-color);
	border-radius: var(--border-radius-more);
	background-color: var(--secondary-dark);
	margin-left: 5px;
	margin-top: 3px;
	padding: 2px 5px;
	cursor: pointer;
	border: none;
	padding: var(--gap-less) var(--gap);
	display: inline-flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.emoji-reaction-self {
	background-color: var(--primary);
	color: var(--text-color-primary);
}

.attachment-list {
	display: inline-flex;
	flex-direction: column;
	gap: var(--gap);
	margin: var(--gap) 0;

}

.pin-indicator {
	position: absolute;
	right: -6px;
	top: -6px;
	height: 12px;
	width: 12px;
	color: var(--text-color);

	svg {
		fill: transparent;
		stroke: var(--text-color-link);
	}
}

.embed-identity {
	display: flex;
	flex-direction: column;

	.btn-wrap {
		padding-top: var(--gap);
		width: 100%;

		.btn {
			width: 100%;
		}
	}
}

.message-user-tag {
	background-color: var(--text-color-user-tag);
	color: var(--text-color);
	width: fit-content;
	height: fit-content;

	&:not(.visual-only) {
		cursor: pointer;

		&:hover {
			background-color: color-mix(in srgb, var(--text-color-user-tag) 50%, white);
		}
	}
}