.message {
	background: var(--primary);
	border-radius: var(--border-radius-more);
	border-bottom-right-radius: var(--border-radius);
	min-height: var(--height-input);
	display: inline-flex;
	align-items: center;
	padding: var(--padding-less) var(--padding);
	width: fit-content;
	align-self: flex-end;
	overflow-wrap: anywhere;
	.context-wrap {
		align-self: flex-end;
	}
	.text {
		color: var(--text-color);
	}
}
.message.message-loading {
	opacity: 0.5;
}
.message.message-first {
	border-radius: var(--border-radius-more);
	border-bottom-right-radius: var(--border-radius);
}
.message.message-last {
	border-radius: var(--border-radius-more);
	border-top-right-radius: var(--border-radius);
}
.message.message-middle {
	border-radius: var(--border-radius-more);
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}
.message.remote {
	align-self: flex-start;
	background: var(--secondary);
	border-radius: var(--border-radius-more);
	border-bottom-left-radius: var(--border-radius);
}
.message.remote.message-first {
	border-radius: var(--border-radius-more);
	border-bottom-left-radius: var(--border-radius);
}
.message.remote.message-last {
	border-radius: var(--border-radius-more);
	border-top-left-radius: var(--border-radius);
}
.message.remote.message-middle {
	border-radius: var(--border-radius-more);
	border-top-left-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
}

.emoji-reaction {
	border: 1px solid var(--secondary);
	border-radius: var(--border-radius-more);
	margin-left: 5px;
	margin-top: 3px;
	padding: 2px 5px;
	cursor: pointer;
}

.emoji-reaction-self {
	border: 1px solid var(--primary);
}