.btn {
  user-select: none;
  cursor: pointer;
  border: none;
  height: var(--height-input);
  border-radius: var(--border-radius-more);
  background-color: var(--primary);
  color: var(--text-color-bright);
  gap: var(--gap);
  padding: 0 var(--padding);
  justify-content: center;
  display: inline-flex;
  align-items: center;
  transition: background-color var(--animation-time);

  button {
    display: inline-flex;
  }

  svg {
    stroke: var(--text-color-bright);
    fill: transparent;
  }
  &:hover {
    background-color: var(--primary-light);
  }
  &.no-text {
    width: var(--height-input);
    padding: unset;
  }

  &.appearance-secondary {
    background-color: var(--secondary);
    &:hover {
      background-color: var(--secondary-light);
    }
  }
  &.appearance-secondary-less {
    border-radius: var(--border-radius-less);
    background-color: var(--secondary);
    &:hover {
      background-color: var(--secondary-light);
    }
  }
  &.appearance-success {
    background-color: var(--success);
    &:hover {
      background-color: var(--success-light);
    }
  }
  &.appearance-danger {
    background-color: var(--secondary);
    color: var(--danger-light);
    &:hover {
      background-color: var(--danger);
      color: var(--text-color-bright);
      svg {
        stroke: var(--text-color-bright);
      }
    }
    svg {
      stroke: var(--danger-light);
    }
  }
  &.appearance-transparent {
    background-color: transparent;
    &:hover {
      background-color: var(--secondary);
    }
  }
  &.appearance-disabled {
    cursor: default;
    opacity: 0.5;
    background-color: var(--secondary-dark);
    &:hover {
      background-color: var(--secondary-dark);
    }
  }
}
.btn-wrap {
  position: relative;
  display: inline-flex;
  justify-content: center;
  .badge {
    position: absolute;
    bottom: calc(100% - 0.75rem);
    left: calc(100% - 0.75rem);
    background-color: var(--danger-light);
    border-radius: var(--border-radius-less);
    font-size: var(--text-size-less);
    padding: 0 var(--gap-less);
    color: var(--text-color-bright);
  }
  &.disabled {
    .btn {
      cursor: not-allowed;
    }
  }
  &.small {
    .btn {
      padding: var(--padding-less);
      height: var(--height-input-less);
      width: var(--height-input-less);
    }
  }
}
