<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (C) 2017 Christopher R. Field.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!--
  The "cargo wix" subcommand provides a variety of predefined variables available
  for customization of this template. The values for each variable are set at
  installer creation time. The following variables are available:

  TargetTriple      = The rustc target triple name.
  TargetEnv         = The rustc target environment. This is typically either
                      "msvc" or "gnu" depending on the toolchain downloaded and
                      installed.
  TargetVendor      = The rustc target vendor. This is typically "pc", but Rust
                      does support other vendors, like "uwp".
  CargoTargetBinDir = The complete path to the binary (exe). The default would
                      be "target\release\<BINARY_NAME>.exe" where
                      "<BINARY_NAME>" is replaced with the name of each binary
                      target defined in the package's manifest (Cargo.toml). If
                      a different rustc target triple is used than the host,
                      i.e. cross-compiling, then the default path would be
                      "target\<CARGO_TARGET>\<CARGO_PROFILE>\<BINARY_NAME>.exe",
                      where "<CARGO_TARGET>" is replaced with the "CargoTarget"
                      variable value and "<CARGO_PROFILE>" is replaced with the
                      value from the `CargoProfile` variable.
  CargoTargetDir    = The path to the directory for the build artifacts, i.e.
                      "target".
  CargoProfile      = Either "debug" or `release` depending on the build
                      profile. The default is "release".
  Version           = The version for the installer. The default is the
                      "Major.Minor.Fix" semantic versioning number of the Rust
                      package.
-->
<!--
  Please do not remove these pre-processor If-Else blocks. These are used with
  the `cargo wix` subcommand to automatically determine the installation
  destination for 32-bit versus 64-bit installers. Removal of these lines will
  cause installation errors.
-->
<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64 ?>
<?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else?>
<?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" >
   <Product Id="*" Name="uplink" UpgradeCode="6870113D-8E6C-492B-948B-39A6030AD7D6" Manufacturer="Satellite IM" Language="1033" Codepage="1252" Version="$(var.Version)">
      <Package Id="*" Keywords="Installer" Description="P2P Chat Application" Manufacturer="Satellite IM" InstallerVersion="450" Languages="1033" Compressed="yes" InstallScope="perMachine" SummaryCodepage="1252" />
      <MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="A newer version of [ProductName] is already installed. Setup will now exit." />
      <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" DiskPrompt="CD-ROM #1" />
      <Property Id="DiskPrompt" Value="uplink Installation" />
      <Directory Id="TARGETDIR" Name="SourceDir">
         <Directory Id="ProgramFiles64Folder">
            <Directory Id="UPLINKROOTDIRECTORY" Name="uplink">
               <Directory Id="BIN" Name="bin" />
               <Directory Id="ProgramMenuFolder" Name="PMenu">
                     <Directory Id="UplinkProgramsFolder" Name="Satellite Im - Uplink" />
               </Directory>
               <Directory Id="DesktopFolder" Name="Desktop" />
               <Directory Id="ExtraFolder" Name="extra" />
               <Directory Id="ExtensionFolder" Name="extensions" />
            </Directory>
            <!-- end of UPLINKROOTDIRECTORY -->
         </Directory>
      </Directory>
      <!-- end of TARGETDIR -->
      <DirectoryRef Id="BIN">
         <Component Id="Path" Guid="76B85F31-00F1-49BE-AC9E-0F2D0DF34C8C" KeyPath="yes">
            <Environment Id="PATH" Name="PATH" Value="[BIN]" Permanent="no" Part="last" Action="set" System="yes" />
         </Component>
         <Component Id="UplinkExecutable" Guid="b205eb35-b953-4b2b-9823-c0c0531815d7">
            <File Id="uplink.exe" Name="uplink.exe" DiskId="1" Source="$(var.CargoTargetBinDir)\uplink.exe" KeyPath="yes" />
         </Component>
      </DirectoryRef>
      <DirectoryRef Id="UplinkProgramsFolder">
         <Component Id="UplinkShortcut" Guid="55179C36-50AD-4A8C-A1DD-C0CBDAF99456">
            <Shortcut Id="UplinkStartMenuShortcut" Name="uplink" Description="P2P Chat Application" Target="[#uplink.exe]" WorkingDirectory="UPLINKROOTDIRECTORY" />
            <RemoveFolder Id="CleanUpUplinkShortcut" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\Satellite.im\uplink" Name="installed" Type="integer" Value="1" KeyPath="yes" />
         </Component>
      </DirectoryRef>
      <DirectoryRef Id="DesktopFolder">
         <Component Id="DesktopLauncher" Guid="A19F4FC4-4590-447F-8C46-B4E7F5D735BD">
            <Shortcut Id="DesktopShortcut" Name="uplink" Description="P2P Chat Application" Target="[#uplink.exe]" WorkingDirectory="UPLINKROOTDIRECTORY" />
            <RemoveFolder Id="DesktopFolder" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\Satellite.im\uplink" Name="installed" Type="integer" Value="1" KeyPath="yes" />
         </Component>
      </DirectoryRef>
      <DirectoryRef Id="ExtraFolder">
         <Component Id="cmpPrismLangs.zip" Guid="297EC9D9-00EE-4274-A2F1-ADF0A3704673">
            <File Id="PrismLangs.zip" Name="prism_langs.zip" DiskId="1" KeyPath="yes" Source="$(var.CargoTargetDir)\..\ui\wix\prism_langs.zip" />
         </Component>
         <Directory Id="ImagesFolder" Name="images">
            <Component Id="cmpLogo.png" Guid="F6816AAA-6600-424E-97B0-292FFF3A6BA1">
               <File Id="Logo.png" Name="logo.png" DiskId="1" KeyPath="yes" Source="$(var.CargoTargetDir)\..\ui\extra\images\logo.png" />
            </Component>
            <Component Id="cmpUplinkMuted.png" Guid="C2E18688-AB34-4C1A-B764-B29B5A63EAE9">
               <File Id="UplinkMuted.png" Name="uplink_muted.png" DiskId="1" KeyPath="yes" Source="$(var.CargoTargetDir)\..\ui\extra\images\uplink_muted.png" />
            </Component>
            <Component Id="cmpUplinkMuted.svg" Guid="4C5DF7FE-E3A1-471A-8896-5512AE21E8E7">
               <File Id="UplinkMuted.svg" Name="uplink_muted.svg" DiskId="1" KeyPath="yes" Source="$(var.CargoTargetDir)\..\ui\extra\images\uplink_muted.svg" />
            </Component>
            <Component Id="cmpUplink.gif" Guid="0FCF0295-7EC7-4299-A2E0-DF94F1DECBEF">
               <File Id="Uplink.gif" Name="uplink.gif" DiskId="1" KeyPath="yes" Source="$(var.CargoTargetDir)\..\ui\extra\images\uplink.gif" />
            </Component>
            <Directory Id="FlagsFolder" Name="flags">
               <Component Id="auFlag.png" Guid="1A45E907-FC60-4195-BE6B-5BCEAB44BF74">
                  <File Id="AU-flag.png" Name="AU-flag.png" DiskId="1" KeyPath="yes" Source="$(var.CargoTargetDir)\..\ui\extra\images\flags\AU-flag.png" />
               </Component>
               <Component Id="blFlag.png" Guid="A6126993-7660-449C-82AA-708ACC9A1FAF">
                  <File Id="BL-flag.png" Name="BL-flag.png" DiskId="1" KeyPath="yes" Source="$(var.CargoTargetDir)\..\ui\extra\images\flags\BL-flag.png" />
               </Component>
               <Component Id="brFlag.png" Guid="0E195B97-E0A9-4599-BB64-093741A5F920">
                  <File Id="BR-flag.png" Name="BR-flag.png" DiskId="1" KeyPath="yes" Source="$(var.CargoTargetDir)\..\ui\extra\images\flags\BR-flag.png" />
               </Component>
               <Component Id="deFlag.png" Guid="3BA30F48-2C8B-4668-9FCA-2D61BEDF8E4D">
                  <File Id="DE-flag.png" Name="DE-flag.png" DiskId="1" KeyPath="yes" Source="$(var.CargoTargetDir)\..\ui\extra\images\flags\DE-flag.png" />
               </Component>
               <Component Id="inFlag.png" Guid="FDD429F1-A497-4764-B4B6-D56DAC079282">
                  <File Id="IN-flag.png" Name="IN-flag.png" DiskId="1" KeyPath="yes" Source="$(var.CargoTargetDir)\..\ui\extra\images\flags\IN-flag.png" />
               </Component>
               <Component Id="itFlag.png" Guid="34834F2B-C5D2-434F-90C1-B623C229BFE4">
                  <File Id="IT-flag.png" Name="IT-flag.png" DiskId="1" KeyPath="yes" Source="$(var.CargoTargetDir)\..\ui\extra\images\flags\IT-flag.png" />
               </Component>
               <Component Id="jpFlag.png" Guid="FB729FD4-F3A0-498F-9C89-9757ED541B74">
                  <File Id="JP-flag.png" Name="JP-flag.png" DiskId="1" KeyPath="yes" Source="$(var.CargoTargetDir)\..\ui\extra\images\flags\JP-flag.png" />
               </Component>
               <Component Id="mxFlag.png" Guid="6FD8AF34-8E95-4172-8C59-1D00E7AC6F7B">
                  <File Id="MX-flag.png" Name="MX-flag.png" DiskId="1" KeyPath="yes" Source="$(var.CargoTargetDir)\..\ui\extra\images\flags\MX-flag.png" />
               </Component>
               <Component Id="ptFlag.png" Guid="6AED4F8F-696F-48FD-8D31-6E61AA5AE89A">
                  <File Id="PT-flag.png" Name="PT-flag.png" DiskId="1" KeyPath="yes" Source="$(var.CargoTargetDir)\..\ui\extra\images\flags\PT-flag.png" />
               </Component>
               <Component Id="ukFlag.png" Guid="7B4704CA-C280-4737-A1E4-D80A7C3219B1">
                  <File Id="UK-flag.png" Name="UK-flag.png" DiskId="1" KeyPath="yes" Source="$(var.CargoTargetDir)\..\ui\extra\images\flags\UK-flag.png" />
               </Component>
               <Component Id="urFlag.png" Guid="9EA96615-465A-43C1-8AB4-60D5FB5AF696">
                  <File Id="UR-flag.png" Name="UR-flag.png" DiskId="1" KeyPath="yes" Source="$(var.CargoTargetDir)\..\ui\extra\images\flags\UR-flag.png" />
               </Component>
               <Component Id="usFlag.png" Guid="D8597AF6-89AA-454A-BAA8-4C6F465D4552">
                  <File Id="USA-flag.png" Name="USA-flag.png" DiskId="1" KeyPath="yes" Source="$(var.CargoTargetDir)\..\ui\extra\images\flags\USA-flag.png" />
               </Component>
            </Directory>
            <!-- end of flagsFolder-->
            <Directory Id="MascotFolder" Name="mascot">
               <Component Id="cmpBetterWithFriends.webp" Guid="EC75FF96-C19B-41B3-BF57-84D785FCA3DA">
                  <File Id="BetterWithFriends.webp" Name="better_with_friends.webp" DiskId="1" KeyPath="yes" Source="$(var.CargoTargetDir)\..\ui\extra\images\mascot\better_with_friends.webp" />
               </Component>
               <Component Id="cmpError.webp" Guid="2A5032CF-412A-4993-AB6E-A07CA197FF00">
                  <File Id="Error.webp" Name="error.webp" DiskId="1" KeyPath="yes" Source="$(var.CargoTargetDir)\..\ui\extra\images\mascot\error.webp" />
               </Component>
               <Component Id="cmpHappyIdle.webp" Guid="75F38A3A-9B90-4BCF-B8E1-0F882C362748">
                  <File Id="HappyIdle.webp" Name="happy_idle.webp" DiskId="1" KeyPath="yes" Source="$(var.CargoTargetDir)\..\ui\extra\images\mascot\happy_idle.webp" />
               </Component>
               <Component Id="cmpIdleAlt.png" Guid="32724A59-79C0-47FA-9B4D-8761EBA70785">
                  <File Id="IdleAlt.png" Name="idle_alt.png" DiskId="1" KeyPath="yes" Source="$(var.CargoTargetDir)\..\ui\extra\images\mascot\idle_alt.png" />
               </Component>
               <Component Id="cmpIdleWave.png" Guid="C5520AA2-202D-4C30-9C6C-407394F73263">
                  <File Id="IdleWave.png" Name="idle_wave.png" DiskId="1" KeyPath="yes" Source="$(var.CargoTargetDir)\..\ui\extra\images\mascot\idle_wave.png" />
               </Component>
               <Component Id="cmpIdle.png" Guid="D3C7D999-4063-4A88-8AF7-80400F666D7F">
                  <File Id="Idle.png" Name="idle.png" DiskId="1" KeyPath="yes" Source="$(var.CargoTargetDir)\..\ui\extra\images\mascot\idle.png" />
               </Component>
               <Component Id="cmpLocked.webp" Guid="70248029-5669-4BB3-8F50-E96E4AF5D030">
                  <File Id="Locked.webp" Name="locked.webp" DiskId="1" KeyPath="yes" Source="$(var.CargoTargetDir)\..\ui\extra\images\mascot\locked.webp" />
               </Component>
               <Component Id="cmpParty.webp" Guid="3CC660FF-7C72-4AAB-8E77-18C0B45BD92A">
                  <File Id="Party.webp" Name="party.webp" DiskId="1" KeyPath="yes" Source="$(var.CargoTargetDir)\..\ui\extra\images\mascot\party.webp" />
               </Component>
               <Component Id="cmpWorking.webp" Guid="6CBA2C0A-616A-4737-9011-ADBDF70005B7">
                  <File Id="Working.webp" Name="working.webp" DiskId="1" KeyPath="yes" Source="$(var.CargoTargetDir)\..\ui\extra\images\mascot\working.webp" />
               </Component>
            </Directory>
            <!-- end of MascotFolder-->
         </Directory>
         <!-- end of ImagesFolder-->
         <Directory Id='ThemesFolder' Name='themes'>
              <!--<Component Id="cmpDefault.scss" Guid="7722DA8B-61C5-48D1-B66D-D67C8A9A5DE1">
                  <File Id="Default.scss" Name="default.scss" DiskId="1" KeyPath="yes" Source="$(var.CargoTargetDir)\..\ui\extra\themes\example.scss" />
              </Component>-->
              <Component Id="cmpExample.scss" Guid="76EF2654-7269-41F8-9AEA-A27609BBF932">
                  <File Id="Example.scss" Name="draculish.scss" DiskId="1" KeyPath="yes" Source="$(var.CargoTargetDir)\..\ui\extra\themes\example.scss" />
              </Component>
              <Component Id="cmpLight.scss" Guid="4891355C-18F2-4ECD-9A99-6BAA43B983E8">
                  <File Id="Light.scss" Name="light.scss" DiskId="1" KeyPath="yes" Source="$(var.CargoTargetDir)\..\ui\extra\themes\light.scss" />
              </Component>
         </Directory>
         <!-- endof ThemesFolder -->
      </DirectoryRef>
      <!-- end of ExtraFolder -->
      <DirectoryRef Id="ExtensionFolder">
            <Component Id="cmpLibEmojiSelector.dll" Guid="8C8B04BE-FAAE-418B-8CD9-5AADF2859C67">
               <File Id="EmojiSelector.dll" Name="emoji_selector.dll" DiskId="1" KeyPath="yes" Source="$(var.CargoTargetDir)\release\emoji_selector.dll" />
            </Component>
       </DirectoryRef>
      <!-- end of ExtensionFolder -->
      <Feature Id="Binaries" Title="Application" Description="Installs all binaries and the license." Level="1" ConfigurableDirectory="UPLINKROOTDIRECTORY" AllowAdvertise="no" Display="expand" Absent="disallow">
         <!--
              Uncomment the following `ComponentRef` tag to add the license
              sidecar file to the installer.
            -->
         <!--<ComponentRef Id='License'/>-->
         <ComponentRef Id="UplinkExecutable" />
         <ComponentRef Id="UplinkShortcut" />
         <ComponentRef Id="DesktopLauncher" />
         <ComponentRef Id="cmpPrismLangs.zip" />
         <ComponentRef Id="cmpLogo.png" />
         <ComponentRef Id="cmpUplinkMuted.png" />
         <ComponentRef Id="cmpUplinkMuted.svg" />
         <ComponentRef Id="cmpUplink.gif" />
         <ComponentRef Id="cmpBetterWithFriends.webp" />
         <ComponentRef Id="cmpError.webp" />
         <ComponentRef Id="cmpHappyIdle.webp" />
         <ComponentRef Id="cmpIdleAlt.png" />
         <ComponentRef Id="cmpIdleWave.png" />
         <ComponentRef Id="cmpIdle.png" />
         <ComponentRef Id="auFlag.png" />
         <ComponentRef Id="blFlag.png" />
         <ComponentRef Id="brFlag.png" />
         <ComponentRef Id="deFlag.png" />
         <ComponentRef Id="inFlag.png" />
         <ComponentRef Id="itFlag.png" />
         <ComponentRef Id="jpFlag.png" />
         <ComponentRef Id="mxFlag.png" />
         <ComponentRef Id="ptFlag.png" />
         <ComponentRef Id="ukFlag.png" />
         <ComponentRef Id="urFlag.png" />
         <ComponentRef Id="usFlag.png" />
         <ComponentRef Id="cmpLocked.webp" />
         <ComponentRef Id="cmpParty.webp" />
         <ComponentRef Id="cmpWorking.webp" />
         <ComponentRef Id="cmpLight.scss" />
         <ComponentRef Id="cmpExample.scss" />
         <ComponentRef Id="cmpLibEmojiSelector.dll" />
         <Feature Id="Environment" Title="PATH Environment Variable" Description="Add the install location of the [ProductName] executable to the PATH system environment variable. This allows the [ProductName] executable to be called from any location." Level="1" Absent="allow">
            <ComponentRef Id="Path" />
         </Feature>
      </Feature>
      <SetProperty Id="ARPINSTALLLOCATION" Value="[UPLINKROOTDIRECTORY]" After="CostFinalize" />

      <!--
          Uncomment the following `Icon` and `Property` tags to change the product icon.

          The product icon is the graphic that appears in the Add/Remove
          Programs control panel for the application.
        -->
      <Icon Id='ProductICO' SourceFile='$(var.CargoTargetDir)\..\ui\extra\windows\uplink.ico'/>
      <Property Id='ARPPRODUCTICON' Value='ProductICO' />
      <!--
          Adding a URL to Add/Remove Programs control panel listing for the
          application is a two step process:

          1. Uncomment the following `Property` tag with the "ARPHELPLINK" Id
             attribute value.
          2. Change the value for `Value` attribute of the following
             `Property` tag to a valid URL.
        -->
      <Property Id='ARPHELPLINK' Value='https://satellite.im/'/>
      <UI>
         <UIRef Id="WixUI_FeatureTree" />
         <!--
              Enabling the EULA dialog in the installer is a three step process:

                1. Comment out or remove the two `Publish` tags that follow the
                   `WixVariable` tag.
                2. Uncomment the `<WixVariable Id='WixUILicenseRtf' Value='Path\to\Eula.rft'>` tag futher down
                3. Replace the `Value` attribute of the `WixVariable` tag with
                   the path to a RTF file that will be used as the EULA and
                   displayed in the license agreement dialog.
            -->
         <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="CustomizeDlg" Order="99">1</Publish>
         <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="99">1</Publish>
      </UI>
      <!--
          Enabling the EULA dialog in the installer requires uncommenting
          the following `WixUILicenseRTF` tag and changing the `Value`
          attribute.
        -->
      <!-- <WixVariable Id='WixUILicenseRtf' Value='Relative\Path\to\Eula.rtf'/> -->
      <!--
          Uncomment the next `WixVariable` tag to customize the installer's
          Graphical User Interface (GUI) and add a custom banner image across
          the top of each screen. See the WiX Toolset documentation for details
          about customization.

          The banner BMP dimensions are 493 x 58 pixels.
        -->
      <WixVariable Id='WixUIBannerBmp' Value='$(var.CargoTargetDir)\..\ui\wix\uplink-banner.png'/>
      <!--
          Uncomment the next `WixVariable` tag to customize the installer's
          Graphical User Interface (GUI) and add a custom image to the first
          dialog, or screen. See the WiX Toolset documentation for details about
          customization.

          The dialog BMP dimensions are 493 x 312 pixels.
        -->
      <WixVariable Id='WixUIDialogBmp' Value='$(var.CargoTargetDir)\..\ui\wix\uplink-background.png'/>
   </Product>
</Wix>