.color-swatch {
    height: var(--height-input);
    width: var(--height-input);
    border-radius: var(--border-radius-more);
    border: 2px solid var(--background);
    transition: all var(--animation-time);

    &.active {
        border: 2px solid transparent;
        box-shadow: inset 0px 0px 0px 1px var(--background);
    }

    &:hover {
        cursor: pointer;
        border: 2px solid transparent;
        box-shadow: inset 0px 0px 0px 1px var(--background);
    }
}