.item-alignment {
	width: var(--icon-label-size-horizontal);
	height: var(--icon-label-size-vertical);
	display: inline-flex;
	align-content: center;
	align-self: center;
	cursor: pointer;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.folder {
	width: 100%;
	display: inline-flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	max-width: 100px;
	padding-top: 8px;
	align-self: flex-start;
	margin: 5px;
	transition: background-color var(--animation-time) ease;
	border-radius: var(--border-radius-less);

	.icon {
		width: var(--icon-size-more);
		height: var(--icon-size-more);
		display: inline-flex;
		align-content: center;
		align-self: center;
		cursor: pointer;
		svg {
			transition: stroke var(--animation-time);
			fill: transparent;
			stroke: var(--warning-light);
			width: 100%;
			height: 100%;
		}
	}
	.input-group {
		width: 100%;
	}
	.input {
		height: auto;
		font-size: var(--text-size-less);
		padding: var(--padding-less) var(--gap);
	}
	&.disabled {
		.icon {
			cursor: not-allowed;
		}
	}
}


.folder-name {
	text-transform: none;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.folder-name:hover {
	white-space: normal;
	word-break: break-all;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	
}