.sidebar {
	display: inline-flex;
	flex-direction: column;
	width: var(--sidebar-width);
	min-width: var(--sidebar-width);
	height: 100%;
	border-right: 1px solid var(--border-color);
	transition: margin-left var(--animation-speed);

	.search {
		padding: var(--gap);
		border-bottom: 1px solid transparent;
	}
	.children {
		flex: 1;
		min-height: 0;
		display: inline-flex;
		flex-direction: column;
		max-height: 100%;
		overflow-y: scroll;
		gap: var(--gap);
	}

	&.hidden {
		margin-left: calc(var(--sidebar-width) * -1);
		border-right: none;
	}
}

.sidebar.resizing {
	border-right: 1px solid var(--primary);
}

@media only screen and (max-width: 300px) {
	.sidebar {
		border-right: none;
	}
}
