.sidebar {
  display: inline-flex;
  flex-direction: column;
  width: var(--width-sidebar);
  min-width: var(--width-sidebar);
  height: 100%;
  border-right: 1px solid var(--border-subtle-color);
  transition: left var(--animation-speed);

  .search {
		display: inline-flex;
    padding: var(--gap);
    border-bottom: 1px solid transparent;
		flex-direction: row;
    .input {
      padding: 0 var(--gap);
    }
  }
  .children {
    flex: 1;
    min-height: 0;
    display: inline-flex;
    flex-direction: column;
    max-height: 100%;
    padding: var(--gap);
    gap: var(--gap);
    /* overflow scroll adds padding that disrupt the grab handle resizer.
			this keeps functionality but hides scroller
		*/

    // TODO: This is not working, it actually removes the scroll functionality entirely. (at least on Mac)
    // ::-webkit-scrollbar {
    // 	display: none;
    // }
    // -ms-overflow-style: none;  /* IE and Edge */
    // scrollbar-width: none;  /* Firefox */
    overflow-y: auto;
    overflow-x: hidden;
  }

	&.hidden {
		left: calc(var(--width-sidebar) * -1);
    border-right: none;
    position: absolute;
	}

	.hamburger {
		gap: var(--gap);
		margin-left: var(--gap);
	}
}

.sidebar.resizing {
  border-right: 1px solid var(--primary);
}

@media only screen and (max-width: 300px) {
  .sidebar {
    border-right: none;
  }
}

@media only screen and (max-width: 600px) {
  .sidebar {
    min-width: 100%;
  }
} 