.add-friend {
    width: 100%;
    display: inline-flex;
    gap: var(--gap);
    align-items: flex-start;
    padding: var(--padding-less);
    border-bottom: 1px solid var(--border-color);
    flex-direction: column;

    .body {
        display: inline-flex;
        gap: var(--gap);
        width: 100%;
    }
    .btn {
        align-self: flex-start;
    }

    .input-group {
        flex: 1;
    }
}

.friends-list {
    height: fit-content;
    padding: var(--gap);
    gap: var(--gap);
    display: inline-flex;
    flex-direction: column;
    height: fit-content;
    overflow-y: scroll;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    flex: 1;
    .context-wrap {
        width: 100%;

        div:first-child {
            width: 100%;
        }
    }
}