#settings-profile {
  align-items: flex-start;
  .profile-header {
    background: var(--secondary);
    height: calc(var(--width-sidebar) / 3);
    width: 100%;
    position: relative;
    margin-bottom: calc((var(--width-sidebar) / 6.3) / 2 + var(--gap));


    #profile-banner-context-menu {
      width: 100%;
      height: 100%;  
    }

    .context-wrap:first-of-type {
      width: 100%;
      height: 100%;
    }
  }
  .new-profile-welcome {
    border: 1px solid var(--border-color);
    display: inline-flex;
    margin: var(--gap);
    padding: var(--gap);
    border-radius: var(--border-radius);
    flex-wrap: wrap;
    max-width: calc(100% - (var(--gap) * 2));
    
    .welcome {
      max-width: calc(var(--width-sidebar) - (var(--gap) * 2));
      img {
        width: 100%;
        pointer-events: none;
      }
    }
    p {
      margin-top: var(--gap);
      color: var(--text-color);
    }
    .welcome-content {
      display: inline-flex;
      flex-direction: column;
      min-width: calc(var(--width-sidebar) / 2);
      flex: 1;
      
      .btn-wrap {
        justify-content: flex-end;
      }
    }
  }
  .profile-banner {
    width: 100%;
    height: calc(var(--width-sidebar) / 3);
    margin-bottom: calc(var(--width-sidebar) / 6.3);
    background-size: cover;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    .change-banner-text {
      position: absolute;
      z-index: 3;
      pointer-events: none;
      font-size: var(--text-size);
      color: var(--text-color-muted);
      visibility: hidden;
    }

    &:hover {
      cursor: pointer;
      .change-banner-text {
        visibility: visible;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.25);
        pointer-events: none;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
      }
    }
  }

  .profile-picture {
    width: calc(var(--width-sidebar) / 3);
    height: calc(var(--width-sidebar) / 3);
    background: var(--secondary-dark);
    background-size: cover;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    bottom: calc((var(--width-sidebar) / 6.3) / 2 * -1);
    left: var(--gap);
    z-index: 1;
    position: absolute;
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;

    .btn {
      margin-right: calc(var(--gap) * -1);
    }
  }


  .profile-avatar {
    border-radius: 100%;
    height: 150px;
    width: 150px;
    background-color: #ccc;
    border: 0.5px solid #999;
  }

  .plus-button {
    display: block;
    position: absolute;
    top: 144%;
    left: 53%;
    scale: 0.8;
    z-index: 2;
  }

  .profile-content {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    gap: var(--gap);

    label {
      margin-left: var(--gap);
      font-size: var(--text-size-less);
      color: var(--text-color-dark);
    }
  }

  .content-item {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    gap: var(--gap-less);
  }

  .profile-group-username {
    display: inline-flex;
  }

  .profile-id-btn {
    display: inline-flex;
    margin: 0 var(--gap);
  }

  .input-group {
    width: 100%;
    .error {
      margin-left: var(--gap);
    }
  }
  .input {
    background: var(--secondary-dark);
    transition: background-color var(--animation-time);
    margin: 0 var(--gap);
    &:focus-within  {
      background: var(--secondary);
    }
    &:hover {
      background: var(--secondary);
    }
  }
}