.files-selected-text {
    color: var(--text-color);
    padding-left: 8px;
    padding-top: 20px;
    max-width:  75vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal-div-files-layout {
  height: 85vh;
  width: 85vw;
}

@media (max-width: 1740px) {
    .files-selected-text {
      max-width: 60vw;
    }
}

@media (max-width: 865px) {
    .files-selected-text {
      max-width: 50vw;
    }
}

@media (max-width: 560px) {
    .files-selected-text {
      max-width: 40vw;
    }
}

@media (max-width: 400px) {
    .files-selected-text {
      max-width: 25vw;
      opacity: 0;
    }
}

.send-files-button {
    position: relative;
    align-self: flex-end;
    display: inline-flex;
    justify-content: flex-end;
    gap: var(--gap);
    width: 100%;
}

.send-files-top-stripe{
    background: var(--secondary);
    justify-content: center;
    align-items: center;
    padding: var(--padding-less);
    margin-top: var(--gap);
    border-radius: var(--border-radius);
}

.modal-div-attachments-layout {
  border: 1px solid var(--primary);
  background: var(--background);
  max-height: 90vh;
  width: 80vw;
}

@media (max-width: 400px) {
  .modal-div-attachments-layout {
      width: 60vw;
  }
}

.send-files-to-several-chats-div {
  max-height: 90vh;
}

#all_chats {
  display: inline-flex;
  flex-direction: column;
  margin-top: 16px;
  overflow-y: scroll;
  height: 40vh;
  background: var(--secondary);
}