#settings-audio,
#settings-about,
#settings-developer,
#settings-extensions,
#settings-general,
#settings-profile,
#settings-files,
#settings-notifications,
#settings-privacy {
  color: var(--text-color);
  flex: 1;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

#settings-layout {
  .flex {
    display: inline-flex;
    flex-direction: column;
    gap: var(--gap);

    #content {
      flex: 1;
      overflow-y: auto;
    }
  }

  div.disabled,
  div.enabled {
    width: 100%;
  }
}

.nav.bubble {
  padding: 0 var(--gap);
}

.open-dyslexic {
  font-family: "Open-Dyslexic", sans-serif;
  width: 100%;
}

.open-dyslexic-activated {
  font-family: OpenDyslexic, sans-serif;
  font-size: 0.85rem;
  width: 100%;
}

.settings-header {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap);
  width: 100%;
  padding: var(--padding-less);
  border-bottom: 1px solid var(--border-subtle-color);
  color: var(--text-color);
}

.settings-section {
  display: inline-flex;
  gap: var(--gap);
  border-bottom: 1px solid var(--border-subtle-color);
  width: 100%;
  padding: var(--padding-less);
  .settings-info {
    flex: 1;
    min-width: 0;
    display: inline-flex;
    flex-direction: column;
    gap: var(--gap-less);

    p {
      color: var(--text-color);
    }
  }
  .settings-control {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
    min-width: fit-content;
    gap: var(--gap);
  }
  &.no-border {
    border-bottom: none;
  }
}

.settings-section.simple {
  .settings-control {
    width: 100%;
    justify-content: flex-start;
  }
}

.keybind-section {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid var(--border-subtle-color);
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0 var(--gap);

  .keybind-separator {
    fill: transparent;
    stroke: var(--text-color-muted);
    display: inline-flex;
    height: 100%;
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }

  .keybind-section-label {
    color: var(--text-color);
    flex: 1;
    padding: var(--gap);
    display: inline-flex;
    align-items: center;
  }
  
  .keybind-section-keys {
    height: var(--height-input);
    display: inline-flex;
    gap: var(--gap-less);
    padding: var(--gap-less);
    background: var(--secondary-darker);
    border-radius: var(--border-radius);
    margin: var(--padding-less);
    border: 1px solid var(--border-subtle-color);


    .keybind-key {
      width: fit-content;
      min-width: var(--height-input);
      height: var(--height-input-less);
      border: 2px solid var(--secondary-dark);
      border-radius: var(--border-radius);
      background-color: var(--secondary-dark);
      color: var(--text-color-muted);
      .keybind-key-inner {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: var(--placeholder);
        font-size: var(--text-size-less);
        border-radius: var(--border-radius);
        background-color: var(--secondary);
        padding: 0 var(--gap-less);
      }
    }
  }
}

.color-swatches {
  display: inline-flex;
  gap: var(--gap);
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-end;
}

// TODO: This should just be included in  dynamically rendered css depending on the screen size
@media only screen and (max-width: 600px) {
  .settings-section {
    flex-direction: column;
    .settings-control {
      width: 100%;
      justify-content: center;
      padding: var(--gap) 0;
    }
  }
}

