#settings-audio,
#settings-about,
#settings-developer,
#settings-extensions,
#settings-general,
#settings-profile,
#settings-files,
#settings-notifications,
#settings-privacy {
  color: var(--text-color);
  flex: 1;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

#settings-layout {
  .flex {
    display: inline-flex;
    flex-direction: column;
    gap: var(--gap);

    #content {
      flex: 1;
      overflow-y: scroll;
    }
  }

  div.disabled,
  div.enabled {
    width: 100%;
  }
}

.nav.bubble {
  padding: 0 var(--gap);
}

.open-dyslexic {
  font-family: "Open-Dyslexic", sans-serif;
}

.open-dyslexic-activated {
  font-family: OpenDyslexic, sans-serif;
  font-size: 0.85rem;
}
.settings-section {
  display: inline-flex;
  gap: var(--gap);
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  padding: var(--padding-less);
  .settings-info {
    flex: 1;
    min-width: 0;
    display: inline-flex;
    flex-direction: column;
    gap: var(--gap-less);
  }
  .settings-control {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
    min-width: fit-content;
  }
}

// TODO: This should just be included in  dynamically rendered css depending on the screen size
@media only screen and (max-width: 600px) {
  .settings-section {
    flex-direction: column;
    .settings-control {
      width: 100%;
      justify-content: center;
      padding: var(--gap) 0;
    }
  }
}
