.crop-cursor {
    width: 100px;
    height: 100px;
    border: 2px solid red;
    position: absolute;
    border-radius: 50%;
    pointer-events: none; 
}

.container {
    position: relative;
    text-align: center; /* Center content horizontally */
}

.crop-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    border: 2px dashed red; /* Dotted border style */
}