.container {
    position: relative;
    text-align: center;
}

.crop-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    border: 2px dashed var(--text-color-link);
}

.shadow-img-mask {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    border: 2px dashed transparent;
}

.shadow-img-mask::before {
    content: "";
    display: block;
    position: absolute;
    opacity: 0.8;
    top: var(--shadow-img-mask-before-top);
    left: var(--shadow-img-mask-before-left);
    right: var(--shadow-img-mask-before-right);
    bottom: var(--shadow-img-mask-before-bottom);
    background: var(--shadow-img-mask-before-background);
    mix-blend-mode: multiply;
  }

  .range-background {
    height: 55px;
    border-radius: 20px;
    padding-top: 8px;
    padding-right: 16px;
    padding-left: 16px;
    background: var(--secondary);
  }

.crop-image-topbar-left-title {
    color: var(--text-color);
    margin-right: 32px;
    line-height: 1.0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
