.crop-cursor {
    width: 100px;
    height: 100px;
    border: 2px solid red;
    position: absolute;
    border-radius: 50%;
    pointer-events: none; 
}

.container {
    position: relative;
    text-align: center;
}

.crop-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    border: 2px dashed transparent;
}

.crop-box::before {
    content: "";
    display: block;
    position: absolute;
    opacity: 0.8;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at center, transparent 70.5%, black 50%);
    mix-blend-mode: multiply;
  }

  .range-background {
    height: 38px;
    border-radius: 20px;
    padding-top: 8px;
    padding-right: 16px;
    padding-left: 16px;
    background: var(--secondary);
  }