.message-reply {
	border-radius: var(--border-radius-more);
	border-bottom-right-radius: var(--border-radius);
	min-height: calc(var(--height-input) / 1.25);
	display: inline-flex;
	align-items: center;
	width: fit-content;
	align-self: flex-end;
	position: relative;
	.user-image {
		transform: scale(0.75);
		opacity: 0.75;
	}
	.context-wrap {
		align-self: flex-end;
	}
	&.loading {
		opacity: 0.5;
	}
	.text {
		color: var(--text-color);
		background-color: var(--primary);
		padding: var(--gap-less) var(--gap);
		font-size: var(--text-size-less);
		border-radius: var(--border-radius-more);
		border-bottom-right-radius: var(--border-radius-less);
		opacity: 0.5;

	}
	.content {
		position: relative;
		padding: 0;
	}
	&.remote {
		align-self: flex-start;
		.remote-text {
			border-radius: var(--border-radius-more);
			border-bottom-left-radius: var(--border-radius);
		}
		.prefix {
			left: 0;
			right: unset;
			white-space: nowrap;
		}
	}
	.prefix {
		display: inline-flex;
		position: absolute;
		width: fit-content;
		right: 0;
		color: var(--text-color-muted);
		bottom: 100%;
		font-size: var(--text-size-less);
	}
}
