.message-reply {
	border-radius: var(--border-radius-more);
	border-bottom-right-radius: var(--border-radius);
	min-height: calc(var(--height-input) / 1.5);
	padding-bottom: 4px;
	display: inline-flex;
	align-items: center;
	width: fit-content;
	align-self: flex-end;
	align-items: flex-end;
	position: relative;
	flex-direction: row-reverse;
	opacity: var(--opacity-modifier);
	position: relative;

	.connector {
		color: var(--text-color-muted);
		font-size: var(--height-input-less);
		position: absolute;
		left: calc(100% + var(--gap));
	}
	.user-image {
		transform: scale(0.75);
		opacity: var(--opacity-modifier);
	}
	.context-wrap {
		align-self: flex-end;
	}
	&.loading {
		opacity: var(--opacity-modifier);
	}
	.text {
		display: flex;
    	flex-direction: column;
		color: var(--text-color);
		background-color: var(--primary);
		padding: var(--gap) var(--padding);
		font-size: var(--text-size-less);
		border-radius: var(--border-radius-more);
		border-bottom-right-radius: var(--border-radius-less);
		word-break: break-all;

		h1, h2, h3, h4, h5 {
			color: var(--text-color-muted);
		}
	}
	.content {
		position: relative;
		padding: 0;
	}
	&.remote {
		align-self: flex-start;
		align-items: flex-start;
		.remote-text {
			border-radius: var(--border-radius-more);
			border-bottom-left-radius: var(--border-radius);
		}
		.prefix {
			left: 0;
			right: unset;
			white-space: nowrap;
		}
		.connector {
			left: calc((var(--height-input-less) * -1) - var(--gap));
		}
	}
	.prefix {
		display: inline-flex;
		position: absolute;
		width: fit-content;
		right: 0;
		color: var(--text-color-muted);
		bottom: 100%;
		font-size: var(--text-size-less);
	}
}
