.message-reply {
	border-radius: var(--border-radius-more);
	border-bottom-right-radius: var(--border-radius);
	min-height: calc(var(--height-input) / 1.5);
	padding-bottom: 4px;
	display: inline-flex;
	align-items: center;
	width: fit-content;
	align-self: flex-end;
	align-items: flex-end;
	position: relative;
	flex-direction: column;
	.user-image {
		transform: scale(0.75);
		opacity: var(--opacity-modifier);
	}
	.context-wrap {
		align-self: flex-end;
	}
	&.loading {
		opacity: var(--opacity-modifier);
	}
	.text {
		display: flex;
    	flex-direction: column;
		color: var(--text-color);
		background-color: var(--primary);
		padding: var(--gap-less) var(--gap);
		font-size: var(--text-size-less);
		border-radius: var(--border-radius-more);
		border-bottom-right-radius: var(--border-radius-less);

		h1, h2, h3, h4, h5 {
			font-weight: bold;
		}

		h1 {
			font-size: 2rem;
		}
		h2 {
			font-size: 1.75rem;
		}
		h3 {
			font-size: 1.5rem;
		}
		h4 {
			font-size: 1.25rem;
		}

		s {
			text-decoration: line-through;
		}

		strong {
			font-weight: bold;
		}

		em {
			font-style: italic;
		}
	}
	.content {
		position: relative;
		padding: 0;
	}
	&.remote {
		align-self: flex-start;
		align-items: flex-start;
		.remote-text {
			border-radius: var(--border-radius-more);
			border-bottom-left-radius: var(--border-radius);
		}
		.prefix {
			left: 0;
			right: unset;
			white-space: nowrap;
		}
	}
	.prefix {
		display: inline-flex;
		position: absolute;
		width: fit-content;
		right: 0;
		color: var(--text-color-muted);
		bottom: 100%;
		font-size: var(--text-size-less);
	}
}
