.user-card {
    width: var(--width-sidebar);
    border-radius: var(--border-radius-more);
    border: 1px solid var(--border-subtle-color);
    padding: var(--gap);
    display: inline-flex;
    flex-direction: column;
    background-color: var(--secondary-dark);
    
    .header {
        height: calc(var(--height-input) * 2);
        width: 100%;
        background-size: cover;
        background-color: var(--secondary);
        margin-bottom: var(--height-input);
        padding: 0;
        border-radius: var(--border-radius-inner) var(--border-radius-inner)  var(--border-radius) var(--border-radius);
        position: relative;

        .title, .subtitle {
            position: absolute;
            bottom: calc((var(--height-input) * -1) + 1rem);
            color: white;
            left: calc(var(--height-input) * 2.75);
        }

        .subtitle {
            bottom: calc(var(--height-input) * -1);
            p {
                font-size: var(--text-size-less);
            }
        }

        .icon {
            margin: var(--gap-less);
            width: calc(var(--height-input) * 2);
            height: calc(var(--height-input) * 2);
            border-radius: 50%;
            background-size: cover;
            background-color: var(--secondary);
            position: absolute;
            bottom: calc(var(--height-input) * -1);
            left: var(--gap);
            border: 4px solid var(--secondary-dark);
            overflow: hidden;
        }
    }

    .body {
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        padding: var(--gap);
        color: var(--text-color-muted);
        align-items: center;

        .btn-wrap, .btn {
            width: 100%;
        }
    }
}