.switch {
    user-select: none;
    cursor: pointer;
    border: none;

    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    user-select: none;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary);
    -webkit-transition: var(--animation-time);
    transition: var(--animation-time);
    border-radius: 10px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0;
    border-radius: 10px;
    background-color: var(--text-color-bright);
    -webkit-transition: var(--animation-time);
    transition: var(--animation-time);
}
input:checked + .slider {
    background-color: var(--primary);
}
input:focus + .slider {
    box-shadow: 0 0 1px var(--primary);
}
input:checked + .slider:before {
    transform: translateX(20px);
}
