.message-typing-wrap {
	display: inline-flex;
	gap: var(--gap);
	padding: var(--padding-less);
}
.message-typing {
	min-height: var(--height-input);
	display: inline-flex;
	align-items: center;
	padding: var(--padding-less) var(--padding);
	width: fit-content;
	align-self: flex-start;
	background: var(--secondary);
	border-radius: var(--border-radius-more);
	border-bottom-left-radius: var(--border-radius);
	gap: var(--gap);
	.dot {
		height: var(--text-size-less);
		width: var(--text-size-less);
		border-radius: 50%;
		background: var(--text-color-bright);
	}
	.dot-1 {
		animation: 1s pulse 0s infinite;
	}
	.dot-2 {
		animation: 1s pulse 0.33s infinite;
	}
	.dot-3 {
		animation: 1s pulse 0.66s infinite;
	}
}
