#emoji_selector {
  position: absolute;
  background-color: var(--background);
  height: 20rem;
  width: 15rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  right: var(--padding);
  bottom: calc(var(--height-input) + var(--padding-more));
  overflow-y: scroll;
  display: inline-flex;
  flex-direction: column;
  padding: var(--gap-less);
}

#emoji_selector .label {
  width: 100%;
  margin-bottom: var(--gap);
}

#emoji_selector .emojis-container {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: var(--gap);
  gap: var(--gap-less);
  justify-content: space-between;
}

#emoji_selector .emoji {
  width: 25px;
  height: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

#emoji_selector .emoji:hover {
  cursor: pointer;
}
