#emoji_selector {
  position: absolute;
  z-index: 2;
  background-color: var(--background);
  height: 20rem;
  width: 20rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-subtle-color);
  right: var(--padding);
  bottom: calc(var(--height-input) + var(--padding-more));
  display: inline-flex;
  flex-direction: column;
  padding: var(--gap);
}

#emoji_selector .label {
  width: 100%;
  margin-bottom: var(--gap);
}

#emoji_selector .emojis-container {
  width: calc(100% - var(--gap));
  display: grid;
  grid-template-columns: repeat(7, 0fr);
  flex-wrap: wrap;
  margin-bottom: var(--gap);
  gap: var(--gap);
  justify-content: space-between;
}

#emoji_selector #scrolling {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#emoji_selector .emoji {
  width: calc(var(--height-input) / 1.4);
  height: calc(var(--height-input) / 1.4);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--height-input) / 1.4);
}

#emoji_selector .nav {
  overflow-x: scroll;
  height: fit-content;
  width: 100%;
  gap: var(--gap);
  padding: var(--gap-less);
}

#emoji_selector .label {
  width: 100%;
  display: inline-block;
  padding: var(--gap-less);
}

#emoji_selector .emoji:hover {
  cursor: pointer;
}
