#media-player {
    width: 100%;
    height: 300px;
    min-height: fit-content;
    background: var(--background);
    resize: vertical;
    overflow: hidden;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    padding: var(--gap);
    border-bottom: 1px solid var(--border-color);

    .topbar {
        height: fit-content;
        border: none;
        padding: 0;
    }

    #media-renderer {
        position: relative;
        display: inline-flex;
        flex: 1;
        min-height: 0;
        width: 100%;
        height: fit-content;
        justify-content: center;
        padding: var(--gap);

        .btn-wrap {
            position: absolute;
            top: var(--gap);
            right: var(--gap);
            z-index: 1;
        }
    }

    .video-wrap {
        height: 100%;
        width: fit-content;
        position: relative;
        background: var(--secondary-dark);
        border-radius: var(--border-radius);
    }
    video {
        border-radius: var(--border-radius);
        overflow: hidden;
        height: 100%;
        max-width: 100%;
        object-fit: contain; // use "cover" to avoid distortion
    }
      
    span {
        position: relative;
        height: 100%;
        display: block;
    }
    .popped-out {
        position: relative;
        &::after {
            content: "Media Detached";
            display: inline-block;
            position: absolute;
            top: calc(50% - 0.5rem);
            left: 0;
            color: var(--text-color-muted);
            width: 100%;
            text-align: center;
        }
    }

    .media-controls {
        display: inline-flex;
        width: 100%;
        gap: var(--gap);
        height: fit-content;
        justify-content: center;
    }

    #handle {
        position: absolute;
        bottom: 0;
        right: 0;
        height: fit-content;
        width: fit-content;
        background-color: var(--warning-light);
        border-radius: var(--border-radius-less);
        pointer-events: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 4px 0;
        border: 1px solid var(--border-color);

        svg {
            height: var(--text-size);
            width: var(--text-size);
            fill: transparent;
            stroke: var(--background);
        }
    }
}

.popout-player {
    position: fixed;
    top: var(--gap);
    right: var(--gap);
    background: var(--secondary-dark);
    border: 1px solid var(--border-color);
    width: 300px;
    height: 168.75px;
    z-index: 1000;
    cursor: grab;
    user-select: none;
    overflow: hidden;
    border-radius: var(--border-radius);
    .wrap {
        border-radius: var(--border-radius);
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        
        .loading {
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            width: 20px;
            height: 20px;
            margin: 0;
            padding: 0;
            transform-origin: center;
            svg {
                height: 20px;
                width: 20px;
                animation: spin 0.5s infinite;
                fill: transparent;
                stroke: var(--text-color-muted);
            }
        }


        video {
            object-fit: cover;
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 100%;
            border-radius: var(--border-radius);
            overflow: hidden;
        }
    
        .controls {
            position: absolute;
            z-index: 3;
            left: var(--gap-less);
            right: var(--gap-less);
            top: var(--gap-less);
            height: var(--height-input);
            display: inline-flex;
            justify-content: space-between;

        }
    }
}

#remote-controls {
    border-top: 1px solid var(--border-color);
    display: inline-flex;
    gap: var(--gap);
    padding: var(--gap);
    justify-content: space-between;
    background: var(--secondary-dark);
    margin: 0 var(--gap) var(--gap) var(--gap);
    border: 1px solid var(--success-light);
    border-radius: var(--border-radius);
    .call-info {
        color: var(--success-light);
        display: inline-flex;
        flex-direction: column;
        p {
            font-size: var(--text-size-less);
        }
    }
    .controls {
        display: inline-flex;
        gap: var(--gap);
    }
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
        backface-visibility: hidden;
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
        backface-visibility: hidden;
    }
}
  

