.sidebar .user {
    padding: var(--gap);
    border-radius: var(--border-radius);
}

.sidebar .user:hover {
    cursor: pointer;
    background-color: var(--secondary-dark);
} 

.content {
    padding: var(--padding);
}