.user-image-loading {
	min-width: var(--height-input);
	min-height: var(--height-input);
	width: var(--height-input);
	height: var(--height-input);
	border-radius: 50%;
	background-size: cover;
	background-color: var(--secondary);
}

.user-image {
	width: fit-content;
	height: var(--height-input);
	position: relative;
	align-self: center;
	.image {
		width: var(--height-input);
		height: var(--height-input);
		border-radius: 50%;
		background-size: cover;
		background-color: var(--secondary);
		border: 1px solid var(--background);
	}
	.indicator {
		position: absolute;
		bottom: 0;
		left: calc(100% - 1rem);
	}
	.dot {
		height: 8px;
		width: 8px;
		border-radius: 50%;
		background: var(--text-color-bright);
	}
	.dot-1 {
		animation: 1s pulse 0s infinite;
	}
	.dot-2 {
		animation: 1s pulse 0.33s infinite;
	}
	.dot-3 {
		animation: 1s pulse 0.66s infinite;
	}
}
.user-image-wrap {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--gap);
	max-width: 80px;
	text-overflow: ellipsis;
	word-break: break-all;
	max-width: var(--height-input);
	justify-content: flex-end;
	align-self: flex-start;
	&.pressable {
		cursor: pointer;
	}
	label {
		display: block;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		align-self: center;
		max-width: 100%;
	}
}
.profile-typing {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: inline-flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: rgba(0,0,0,0.25);
}
