#pinned-messages-container {
    position: absolute; 
    right: 0; 
    top: 120%; 
    width: 400px; 
    max-height: 500px;
    background-color: var(--secondary); 
    border-radius: 10px; 
    overflow: hidden;
    z-index: 10;
    &.hidden {
        display: none;
    }
}

.pinned-messages {
    border: 1px solid var(--primary-dark);
    border-top: none;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: auto;
}

.pinned-empty {
    width: 100%; 
    height: 200px; 
    font-size: var(--text-size-more); 
    display: flex; 
    align-items: center; 
    text-align: center; 
    padding: var(--padding-more);
}

.pinned-message-wrap {
    position: relative;
    display: inline-flex;
    border: 1px solid var(--primary-dark);
    border-radius: 5px;
    margin: 4px;
    padding: 4px;
}

.pinned-button-container {
    display: flex; 
    margin-left: auto; 
    margin-right: -4px;
}

.pinned-buttons {
    height: fit-content;
    width: fit-content; 
    display: inline-flex;
    font-size: var(--text-size-less); 
    background: var(--background-dark); 
    padding: 4px; 
    border-radius: var(--border-radius); 
    margin-left: 4px;
    white-space: nowrap;
}

.pinned-message { 
    white-space: pre-wrap; 
    width: fit-content; 
    overflow: hidden; 
    overflow-wrap: anywhere;
}

.pinned-header {
    width: 100%; 
    height: 40px; 
    background: var(--secondary-dark);
    padding: var(--padding-less);
    color: var(--text-color);
}

.pinned-content-container {
    display: flex; 
    flex-direction: column; 
    padding: var(--padding-less); 
    padding-top: 0; 
    color: var(--text-color);
}

.pinned-sender-container {
    margin-bottom: var(--padding-less);
}

.pinned-sender-time {
    font-size: var(--text-size-less);
}