#settings-audio,
#settings-developer,
#settings-extensions,
#settings-general,
#settings-privacy {
    color: var(--text-color);
    flex: 1;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    
    .btn-wrap:nth-child(1) {
        margin: var(--padding-less);
    }
}


.settings-section {
    display: inline-flex;
    gap: var(--gap);
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    padding: var(--padding-less) var(--padding);
    .settings-info {
        flex: 1;
        min-width: 0;
        display: inline-flex;
        flex-direction: column;
        gap: var(--gap-less);
    }

    .settings-control {
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        width: 20%;
        min-width: fit-content;
    }
}

.extension-setting {
    display: inline-flex;
    flex-direction: column;
    border-bottom: 1px solid var(--border-color);

    .heading {
        display: inline-flex;
        border-bottom: 1px solid var(--border-color);
        padding: var(--padding-less);
        gap: var(--gap);
        align-items: center;
        svg {
            height: var(--height-input);
            width: var(--height-input);
            fill: transparent;
            stroke: var(--text-color-muted);
            justify-self: flex-start;
        }

        .text {
            flex: 1;
            display: inline-flex;
            flex-direction: column;
            gap: var(--gap-less);
        }

        .control {
            min-width: fit-content;
        }
    }

    .description {
        padding: var(--padding-less);
    }
}