.overlay-load-shadow {
    display: block;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: 999; 
    text-align: center;
    pointer-events: all;
  }
  
  .overlay-loader-spinner {
    position: fixed;
    display: block;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background-color: transparent;
  }