.debug-logger {
    height: calc(var(--text-size) + (var(--gap) * 6));
    width: 100%;
    border-top: 1px solid var(--border-subtle-color);
    font-size: var(--text-size-less);
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    .header, .body {
        width: 100%;
        padding: var(--gap-less) var(--gap);
        font-size: var(--text-size-less);
        background-color: var(--secondary-dark);
    }
    .header {
        border-bottom: 1px solid var(--border-muted-color);
        background-color: var(--secondary);
    }
    .body {
        overflow-y: auto;
        display: flex;
        flex-direction: column-reverse;
        flex: 1;
        .item {
            display: inline-flex;
            gap: var(--gap);
            width: 100%;
            .log-text {
                font-size: var(--text-size-less);
                color: var(--text-color-muted);
            }
            .muted {
                color: var(--text-color-muted);
                white-space: nowrap;
            }
            .bold { 
                font-weight: bold;
                white-space: nowrap;
            }
            .error { color: var(--danger); }
            .warn { color: var(--warning); }
            .info { color: var(--success); }
            .debug { color: white; }
        }
    }
    &.resizing {
        border-top: 1px solid var(--primary);
    }
}