.debug-logger {
    height: calc(var(--text-size) + (var(--gap) * 2));
    width: 100%;
    border-top: 1px solid var(--border-color);
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    font-size: var(--text-size-less);
    padding: var(--gap);
    resize: vertical;
}
f
.initial-label {
    color: var(--text-color-bright);
    margin-left: 4px;
    font-size: 12px;
}

.item {
    display: inline-flex;
    gap: var(--gap);
    width: 100%;
}

.log-text {
    font-size: var(--text-size-less);
    color: var(--text-color-muted);
}

.muted {
    color: var(--text-color-dark);
    white-space: nowrap;
}   

.bold { 
    font-weight: bold;
    white-space: nowrap;
}