.sidebar .user {
    padding: var(--gap);
    border-radius: var(--border-radius);
}

.sidebar .user:hover {
    cursor: pointer;
    background-color: var(--secondary-dark);
} 

.content {
    padding: var(--padding);
}

.call-dialog {
    position: fixed;
    background-color: #6767953f;
    backdrop-filter: blur(22px);
    -webkit-backdrop-filter: blur(22px);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    display: inline-flex;
    flex-direction: column;
    gap: var(--padding);
    padding: var(--padding-more) var(--padding);
    align-items: center;
    justify-content: center;
    z-index: 1000;
    text-align: center;
    left: var(--gap);
    top: 2rem;
    width: calc(var(--width-sidebar) - (var(--gap) * 2));

    .call-information {
        p {
            color: var(--text-color);
        }
    }

    .calling {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: var(--gap);
    }
    .connecting {
        display: inline-flex;
        svg {
            stroke: var(--text-color-dark);
            fill: transparent;
        }
    }
}