.context-menu {
	position: fixed;
	border-radius: var(--border-radius);
	background-color: rgba(0,0,0,0.2);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	z-index: 1000;
	display: flex;
	flex-direction: column;
	padding: var(--gap-less);
	gap: var(--gap-less);
	color: var(--text-color-bright);
	border: 1px solid var(--secondary);
	.context-item {
		display: flex;
		border-radius: var(--border-radius-less);
		gap: var(--gap-less);
		align-items: center;
		padding: var(--gap-less) var(--gap);
		&:hover {
			background: var(--primary);
			cursor: pointer;
		}
		svg {
			fill: transparent;
			stroke: var(--text-color-bright);
		}
	}
	.context-item.danger {
		color: var(--text-color-bright);
		&:hover {
			color: var(--text-color-bright);
			background-color: var(--danger-light);
		}
	}
	hr {
		border: none;
		border-bottom: 1px solid var(--background);
	}
}
.context-wrap {
	min-height: fit-content;
	min-width: fit-content;
	display: inline-flex;
}
.context-menu.hidden {
	display: none;
}
.context-item {
	.context-item.danger {
		svg {
			stroke: var(--danger-light);
		}
	}
}

.identity-header {
	display: flex;
	height: 80px;
	min-width: 240px;
	background-size: cover;
	background-color: var(--secondary);
	margin: calc(-1*var(--gap-less));
	padding: 0;
	#banner-image {
		display: flex;
		align-items: flex-end;
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
		background-size: cover;
		background-color: rgba(0,0,0,0);
		border: 0px solid var(--background);
	}
	#profile-image {
		margin: var(--gap-less);
		width: var(--height-input);
		height: var(--height-input);
		border-radius: 50%;
		background-size: cover;
		background-color: var(--secondary);
		border: 1px solid var(--background);
		.indicator {
			position: relative;
			color: var(--background);
			top: calc(100% - 1rem);
			left: calc(100% - 1rem);
		}
	}
}