[Desktop Entry]
Version=1.0
Type=Application

Name=Uplink
Comment=Experimental
Categories=Communications;Chat;

Icon=im.satellite.uplink
Exec=uplink
Terminal=false
