
.modal-wrap {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1001;
    top: 1.5rem;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--background-modal);

    .close-btn {
      position: absolute;
      top: var(--gap-less);
      left: var(--gap-less);
      visibility: hidden;
      display: inline-block;
    }

    img {
      align-self: center;
    }

    .modal {
      display: flex;
      background-color: var(--secondary-dark);
      padding: var(--gap);
      border-radius: var(--border-radius);
      border: 1px solid var(--border-subtle-color);
      z-index: 1001;
      position: relative;
      overflow: hidden;
      margin: 0 var(--gap-less);
      
      &:hover {
        .close-btn {
          visibility: visible;
          .btn {
            display: inline-flex;
          }
        }
      }
    }

    &.no-padding {
      .modal {
        padding: 0;
      }
    }
    

    &.transparent {
      background: transparent;

      .modal { 
        position: absolute;
        top: calc(var(--height-topbar) + var(--gap-less));
        right: var(--gap-less);
        display: inline-flex;
        flex-direction: column;

        label:first-of-type  {
          margin-bottom: var(--gap);
        }
      }
    }
}