.alignment {
  width: var(--icon-label-size-more);
  height: var(--icon-label-size-more);
  display: inline-flex;
  align-content: center;
  align-self: center;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.file-embed {
  display: inline-flex;
  gap: var(--gap);
  width: fit-content;
  color: var(--text-color);
  align-content: center;
  align-self: flex-end;

  .image-container {
    display: flex;
    position: relative;
    padding-top: var(--padding-less);
    width: fit-content;
    height: fit-content;
    .btn-wrap{
      position: absolute;
      left: var(--padding-less);
      top: calc(2*var(--padding-less));
    }
  }

  .image {
    width: 100%;
    max-width: 700px;
    height: 100%;
    max-height: 1500px;
  }

  .meta {
    font-size: var(--text-size-less);
  }
  .btn {
    background-color: var(--primary-dark);
  }
  .icon {
    svg {
      stroke: var(--text-color);
      fill: transparent;
      height: var(--height-input);
      width: var(--height-input);
    }
  }
}

.icon {
  display: inline-flex;
}
.meta {
  display: inline-flex;
}
.file-embed.remote {
  .meta {
    color: var(--placeholder);
  }
  align-self: flex-start;
}
