html,
body, 
#main {
    height: 100%;
    width: 100%;
    background: var(--background);
}

#main {
    position: relative;
    overflow: hidden;
}

.search-input,
.search-input .input-group {
    width: 100%;
}

.vertically-scrollable {
    display: inline-flex;
    gap: var(--gap);
    width: 100%;
    overflow-x: scroll;
    height: fit-content;
}