html,
body, 
#main {
    height: 100%;
    width: 100%;
    background-color: var(--background);
}

#main {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    position: relative;
    overflow: hidden;
}

.search-input,
.search-input .input-group {
    width: 100%;
}

.vertically-scrollable {
    display: inline-flex;
    gap: var(--gap);
    width: 100%;
    overflow-x: scroll;
    height: fit-content;
    transition: background var(--animation-time);
}


/* width */
::-webkit-scrollbar {
    width: 6px;
    opacity: 1;

    &:hover {
        width: 10px;
    }
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border-radius: var(--border-radius);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}    
