html,
body, 
#main {
    height: 100%;
    width: 100%;
    background-color: var(--background);
}

#main {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    position: relative;
    overflow: hidden;
}

.search-input,
.search-input .input-group {
    width: 100%;
}

.vertically-scrollable {
    display: inline-flex;
    gap: var(--gap);
    width: 100%;
    overflow-x: scroll;
    height: fit-content;
}