
.indicator {
	height: fit-content;
	width: fit-content;
	stroke: transparent;
	fill: var(--background);
	display: inline-flex;
	justify-content: center;
	align-items: flex-end;
}
.indicator-online {
	stroke: var(--success-light);
}
.indicator-offline {
	stroke: var(--secondary-light);
}
.indicator-do-not-disturb {
	stroke: var(--danger);
}
.indicator-idle {
	stroke: var(--warning-light);
}
