.message-typing-wrap {
    display: inline-flex;
    gap: var(--gap);
}
.message-typing {
    min-height: var(--height-input);
    display: inline-flex;
    align-items: center;
    padding: var(--gap) var(--padding-less);
    width: fit-content;
    align-self: flex-start;
    background: var(--secondary);
    border-radius: var(--border-radius-more);
    border-bottom-left-radius: var(--border-radius);
    gap: var(--gap);
}


.message-typing .dot {
    height: var(--text-size-less);
    width: var(--text-size-less);
    border-radius: 50%;
    background: var(--text-color-bright);
}

.message-typing .dot-1 {
    animation: 1s pulse 0s infinite;
}
.message-typing .dot-2 {
    animation: 1s pulse 0.33s infinite;
}
.message-typing .dot-3 {
    animation: 1s pulse 0.66s infinite;
}
