// Same styles as textarea. Maybe merge it?
.cm-editor {
    width: 100%;
    height: "auto";
    max-height: 250px; //Maybe make max variable?
    min-height: 22px;
    margin: 9px 0;
    word-wrap: anywhere;

    &.disabled {
        cursor: not-allowed;
        filter: brightness(85%);
    }

    pre {
        background-color: unset;
        border-radius: unset;
    }

    .cm-cursor {
        border-left-color: var(--text-color);
    }

    &.cm-focused {
        outline: none;
    }

    .cm-content {
        padding: 0;
        white-space: pre-wrap;
        word-wrap: anywhere;
        width: 100%;
    }

    .cm-scroller {
        overflow: hidden;
        overflow-y: scroll;

        font-family: unset;
        line-height: unset;
        &::-webkit-scrollbar {
            display: none;
        }
    
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    &.cm-focused > .cm-scroller > .cm-selectionLayer .cm-selectionBackground, .cm-selectionBackground, .cm-content ::selection {
        background: color-mix(in srgb, var(--text-selection) 40%, transparent);
    }
}

.cm-strikethrough {
    text-decoration: line-through;
}

.cm-strong {
    font-weight: bold;
}

.cm-emphasis {
    font-style: italic;
}

.cm-url {
    text-decoration: underline;
    color: var(--text-color-link);
}

.cm-codeblock,
.cm-lineComment,
.cm-blockComment,
.cm-docComment,
.cm-blockquote {
    color: hsl(220, 14%, 71%);
    background-color: color-mix(in srgb, hsl(220, 13%, 18%) 70%, transparent);
}

.cm-blockquote {
    padding: 0 20px;
    border-left: 5px solid var(--secondary-light);

    &::before {
        content: "";
    }
}

.cm-placeholder {
    color: var(--placeholder) !important;
}