// all the rest of the styling for textarea is in elements/input/style.scss

textarea {
	width: 100%;
	height: "auto";
	max-height: 250px; //Maybe make max variable?
	&.disabled {
		cursor: not-allowed;
		filter: brightness(85%);
	}
}

textarea::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 0px rgba(255, 255, 255, 0);
}

textarea::-webkit-scrollbar-thumb {
	background-color: var(--primary);
}

//Hide horizontal scrollbar
textarea::-webkit-scrollbar:horizontal {
	height: 0;
	width: 0;
	display: none;
}

textarea::-webkit-scrollbar-thumb:horizontal {
	display: none;
}
