.chatbar, .chatbar .controls {
	display: inline-flex;
	gap: var(--gap);
}
.chatbar {
	width: 100%;
	border-top: 1px solid transparent;
	padding: var(--padding);
	position: relative;
	.input-group {
		flex: 1;
		.input {
			border-radius: var(--border-radius-more);
		}
	}
}
.inline-reply {
	position: absolute;
	left: var(--gap);
	right: var(--gap);
	bottom: 100%;
	display: inline-flex;
	flex-direction: column;
	gap: var(--gap-less);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	padding: var(--gap);
	border-radius: var(--border-radius);
	border: 1px solid var(--border-color);
	
	.content {
		display: inline-flex;
		padding: 0;
		padding-right: var(--height-input);
		gap: var(--gap);
		.user-image-wrap {
			align-self: flex-end;
		}
	}
	.reply-text {
		color: var(--text-color);
		display: -webkit-box;
 		 -webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden; 
		text-overflow: ellipsis;
		overflow: hidden;
		text-align: left;
	}
	.btn-wrap {
		position: absolute;
		top: var(--gap);
		right: var(--gap);
		z-index: 1;
	}
}

@media only screen and (max-width: 600px) {
	.inline-reply {
		padding-top: var(--height-input-less);
		.content {
			padding-right: 0;
		}
	}
}