.toast {
    position: fixed;
    top: var(--gap);
    right: var(--gap);
    border-radius: var(--border-radius);
    width: var(--sidebar-width);
    min-height: var(--height-input);
    z-index: 1000;
    display: inline-flex;
    flex-direction: row;
    backdrop-filter: blur(22px);
    -webkit-backdrop-filter: blur(22px);
    border: 1px solid var(--border-color);
    padding: var(--gap);
    background: #6767953f;
    align-items: center;
    gap: var(--gap);
    user-select: none;

    @media only screen and (max-width: 600px) {
        left: 0;
        right: 0;
        margin-left: var(--gap);
        margin-right: var(--gap);
        width: var(--sidebar-width - 20px);

    }

    color: var(--text-color);

    label {
        color: var(--text-color-dark);
        user-select: none;
        pointer-events: none;
    }

    p {
        font-size: var(--text-size-less);
        user-select: none;
        pointer-events: none;
    }
    
    .toast-icon {
        display: inline-flex;
        svg {
            width: var(--height-input);
            height: var(--height-input);
            fill: transparent;
            stroke: var(--text-color-dark);
        }
    }

    .toast-content {
        flex: 1;
    }

    .btn {
        pointer-events: all;
    }
}