#welcome {
  display: inline-flex;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
  min-width: 0;
  justify-content: center;
  align-items: center;
  cursor: default;
  .logo {
    fill: var(--secondary);
    width: calc(var(--sidebar-width) / 1.2);
  }
  .muted {
    color: var(--text-color-muted);
    margin: 1rem 0;
  }
  .button {
    pointer-events: all;
    position: absolute;
  }
}
