#welcome {
  overflow: hidden;
  display: inline-flex;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
  min-width: 0;
  justify-content: initial;
  align-items: center;
  cursor: default;
  .image {
    fill: var(--secondary);
    width: 100%;
    min-width: 0;
    max-width: calc(var(--width-sidebar) * 1.5);
  }
  .muted {
    color: var(--text-color-muted);
    margin: 1rem 0;
  }
  .button {
    pointer-events: all;
    position: absolute;
  }
}
