[package]
name = "ui"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
dioxus = { version = "0.2.4", features = ["desktop", "router"] }
kit = { path = "../kit" }
uuid = { version = "1.0", features = ["serde", "v4"] }
lipsum = "0.8.2"
warp = { git = "https://github.com/Satellite-im/Warp", rev = "ed3b5de968fb623a7d76170a5d7dd3f3c79d3e1b"}
warp-mp-ipfs = { git = "https://github.com/Satellite-im/Warp", rev = "ed3b5de968fb623a7d76170a5d7dd3f3c79d3e1b" }
warp-rg-ipfs = { git = "https://github.com/Satellite-im/Warp", rev = "ed3b5de968fb623a7d76170a5d7dd3f3c79d3e1b" }
warp-fs-ipfs = { git = "https://github.com/Satellite-im/Warp", rev = "ed3b5de968fb623a7d76170a5d7dd3f3c79d3e1b" }
names = "0.14.0"
titlecase = "2.2.1"
serde = "1.0.150"
serde_json = "1.0.89"
rand = "0.8.4"
image = "0.24.5"
chrono = "0.4.19"
substring = "1.4.5"
either = "1.6.1"
base64 = "0.20.0"
fluent-templates = "0.8.0"
unic-langid = "0.9.1"
timeago = "0.4.0"
dirs = "4.0.0"
opener = "0.5.0"
soloud = "1.0.2"
open = "3.2.0"
once_cell = "1.13"
notify-rust = "4.5.10"
futures = "0.3"
tokio = { version = "1.23.0", features = ["full"] }
isolang = "2.2.0"
clap = { version = "3.2", features = ["derive"] }

[build-dependencies]
glob = "0.3.0"
rsass = "0.26.0"

[target.'cfg(target_os = "macos")'.dependencies]
cocoa = "0.24.1"
objc = "0.2.7"

[target.'cfg(windows)'.build-dependencies]
winres = "0.1.12"
