.friend {
    display: inline-flex;
    gap: var(--gap);
    width: 100%;
    align-items: center;
    .request-info {
        flex: 1;
        p {
            color: var(--text-color);

            span {
                color: var(--text-color-muted);
            }
        }
    }
    .request-controls {
        display: inline-flex;
        gap: var(--gap);
    }
}

.friends-list {
    flex: 1;
    padding: var(--gap);
    gap: var(--gap);
    display: inline-flex;
    flex-direction: column;
    height: fit-content;
    overflow-y: scroll;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
