.btn {
    user-select: none;
    cursor: pointer;
    border: none;

    height: var(--height-input);
    border-radius: var(--border-radius-more);

    background: var(--primary);
    color: var(--text-color-bright);

    gap: var(--gap);
    padding: 0 var(--padding);
    justify-content: center;

    display: inline-flex;
    align-items: center;
}

.btn svg {
    stroke: var(--text-color-bright);
    fill: transparent;
}

.btn:hover {
    background-color: var(--primary-light);
}

.btn.no-text {
    width: var(--height-input);
    padding: unset;
}

.appearance-secondary {
    background-color: var(--secondary);
}
.appearance-secondary:hover {
    background-color: var(--secondary-light);
}
.appearance-success {
    background-color: var(--success);
}
.appearance-success:hover {
    background-color: var(--success-light);
}
.appearance-danger {
    background-color: var(--secondary);
    color: var(--danger-light);
}
.appearance-danger:hover {
    background-color: var(--danger);
    color: var(--text-color-bright);
}
.appearance-danger svg {
    stroke: var(--danger-light);
}
.appearance-danger:hover svg {
    stroke: var(--text-color-bright);
}
.appearance-transparent {
    background: transparent;
}
.appearance-transparent:hover {
    background: var(--secondary);
}

.appearance-disabled {
    cursor: default;
    opacity: 0.5;
    background: var(--secondary-dark);
}
.appearance-disabled:hover {
    background: var(--secondary-dark);
}
